<table class="table table-striped table-hover">
	<caption><h3>Todas las Compras pendientes</h3></caption>
	
	<thead>
		<tr><th>Código</th>
			<th>Colegio</th>
			<th>Producto</th>
			<th>Estado</th>
			<th class="text-center" colspan="3">Pago</th>
		</tr>
	</thead>
	
	<tbody>
		<tr ng-if="list.length==0">
			<td colspan="7">
				<p class="lead">No hay Compras pendientes de Aprobar.</p>
			</td>
		</tr>
		
		<tr ng-repeat="item in list" style="cursor: pointer;" 
			ng-class="{'danger': item.estado=='pendiente', 'success': item.estado=='verificado' }"
			ng-click="$ctrl.response({ id: item.id })">
			<td>{{ item.id }}</td>
			<td>{{ item.colegio.nombre }}</td>
			<td>{{ item.producto.nombre }}</td>
			<td>{{ item.estado }}</td>
			<td>{{ item.pago_fecha }}</td>
			<td>{{ item.pago_forma }}</td>
			<td>{{ item.pago_id }}</td>
		</tr>
	</tbody>
</table>
