<form class="form-horizontal" name="form" ng-submit="form.$valid && save(item)">
	<fieldset class="col-xs-4">
		<label class="label-form">Colegio</label>
		<p class="lead">{{ item.colegio.nombre }}</p>
		
		<label class="label-form">Producto</label>
		<p class="lead">{{ item.producto.nombre }}</p>
		
	</fieldset>
	
	<fieldset class="col-xs-4">
		<label class="label-form">Forma de Pago</label>
		<p class="lead" ng-if="item.pago_forma=='transferencia'">Transferencia electrónica</p>
		<p class="lead" ng-if="item.pago_forma=='deposito'">Depósito en banco</p>
		<p class="lead" ng-if="item.pago_forma=='webpay'">WebPay</p>
		
		<label class="label-form">Número de Transacción</label>
		<p class="lead">{{ item.pago_id }}</p>
		
		<label class="label-form">Fecha de Transacción</label>
		<p class="lead">{{ item.pago_fecha }}</p>
		
		<button class="btn btn-success" type="submit" ng-click="item.estado = 'verificado'">Verificada</button>
		&nbsp;
		<button class="btn btn-danger"  type="submit" ng-click="item.estado = 'rechazado' ">Rechazada </button>
	</fieldset>
</form>
