<link href='/views/avisos_form.css' rel='stylesheet' type='text/css' />

<form class="form form-horizontal" name="form" role="form" ng-submit="false" novalidate>
	<fieldset>
		<legend>{{ item.colegio.nombre }}</legend>
		
		<div class="col-lg-12">
			<div class="form-group" ng-hide="status=='saving'">
				<div class="col-xs-12 form-control-static text-right" ng-if="item.estado=='preparado'">
					<span class="lead">Aprobar o Rechazar Publicación: &nbsp; </span>
					<div class="btn btn-success" ng-click="save('verificado')">Aprobar</div>
					<div class="btn btn-danger"  ng-click="save('rechazado')">Rechazar</div>
				</div>
				
				<div class="col-xs-12 form-control-static text-right" ng-if="item.estado=='verificado'">
					<span class="lead">Desactivar para Correcciones: &nbsp; </span>
					<div class="btn btn-warning" ng-click="save('disponible')">Disponible</div>
				</div>
			</div>
		</div>
	</fieldset>
	
	<fieldset>
		<legend>Aviso</legend>

		<div class="col-lg-6">
			<div class="form-group">
				<div class="col-xs-4 form-control-static">Descripción</div>
				<div class="col-xs-8 form-control-static disabled">{{ item.busqueda }}</div>
			</div>
			<div class="form-group">
				<div class="col-xs-12 disabled">{{ item.descripcion }}</div>
			</div>
		</div>
		
		<div class="col-lg-6">
			<div class="form-group">
				<div class="col-xs-4 form-control-static">Vigencia</div>
				<div class="col-xs-8 form-control-static disabled">{{ item.fecha | date:'dd-MMM' }} al  {{ item.vigencia | date:'dd-MMM-yy' }}</div>
			</div>
		</div>
	</fieldset>
	
	<ng-include src="'views/_avisos_form.html'"></ng-include>
</form>
