<table class="table table-hover table-striped">
	<thead>
		<tr><th>Código</th>
			<th>Cargo</th>
			<th>Comuna</th>
			<th>Institución</th>
			<th>Fecha</th>
			<th>Estado</th>
		</tr>
	</thead>
	
	<tbody>
		<tr ng-repeat="item in list" ng-class="{'success': item.postulantes > 0 }">
			<td>{{ item.id }}</td>
			<td>{{ item.busqueda }}</td>
			<td>{{ item.comuna }}</td>
			<td>{{ item.institucion }}</td>
			<td>{{ item.fecha }}</td>
			<td><a class="btn btn-sm btn-block btn-default" ui-sref="^.aviso({ id: item.id })"
					ng-class="{'btn-warning': item.estado=='preparado', 'btn-success': item.estado=='verificado', 'btn-danger': item.estado=='rechazado' }"
					ng-disabled="item.estado=='disponible'">
					
					{{ item.estado }}
				</a>
			</td>
		</tr>
	</tbody>
</table>
