<form>
	<fieldset>
		<legend>{{ $ctrl.head.busqueda }} - {{ $ctrl.head.colegio }}</legend>
		
		<table class="table table-striped table-hover">
			<thead>
				<tr><th>Postulante</th>
					<th>Profesión</th>
					<th>Experiencia</th>
					<th class="text-center">CV</th>
					<th><button class="btn btn-sm btn-block btn-warning" ng-click="$ctrl.update()">Guardar</button></th>
				</tr>
			</thead>
			
			<tbody>
				<tr ng-repeat="item in $ctrl.list">
					<td>{{ item.apellidos }} {{ item.apellido_m }}, {{ item.nombres }}</td>
					<td>{{ item.profesiones }}</td>
					<td>{{ item.cv_experiencia }}</td>
					<td class="text-center">
						<a class="btn btn-sm btn-default" href="colegios/avisos/download?id={{ item.id }}" target="winViewCV">
							<span class="glyphicon glyphicon-cloud-download"></span>
						</a>
					</td>
					<td><select class="form-control" ng-model="item.situacion" 
							ng-options="value for value in $ctrl.grid" 
							ng-change="$ctrl.change(item)" ng-class="{'btn-warning': item._original }"
						/>
					</td>
				</tr>
			</tbody>
			
			<tfoot>
			</tfoot>
		</table>
	</fieldset>
</form>

