<form>
	<fieldset>
		<legend>Postulantes</legend>
		
		<table class="table table-striped table-hover">
			<thead>
				<tr><th>Aviso</th>
					<th>Estado</th>
					<th>Fecha</th>
					<th ng-repeat="situacion in $ctrl.grid">{{ situacion }}</th>
				</tr>
			</thead>
			
			<tbody>
				<tr ng-repeat="item in $ctrl.list">
					<td>{{ item.colegio }}<br/>{{ item.busqueda }}</td>
					<td>{{ item.estado }}</td>
					<td>{{ item.fecha }}</td>
					<td class="text-center" ng-repeat="situacion in $ctrl.grid">
						<button class="btn btn-sm btn-info btn-block"
							ng-click="$ctrl.onSelect({ id_aviso: item.id_aviso, situacion: situacion })"
							ng-if="item.situaciones[situacion]"
						>
							{{ item.situaciones[situacion] }}
						</button>
					</td>
				</tr>
			</tbody>
			
			<tfoot>
			</tfoot>
		</table>
	</fieldset>
</form>

