<style>
	.form-group {
		margin-bottom: 5px;
	}
	.form-control.alert-dismissible {
		background-color: #fcf8e3;
	}
</style>
<form class="form form-horizontal" name="form" role="form" ng-submit="form.$valid && save()" novalidate>
	<div class="form-group">
		<div class="col-xs-3"><p class="form-control-static">Nombre de Búsqueda</p></div>
		<div class="col-xs-4"><input  class="form-control" type="text" readonly disabled ng-model="item.busqueda"></div>
		<div class="col-xs-2"><p class="form-control-static">{{ item.fecha }}</p></div>
		<div class="col-xs-3"><select class="form-control" ng-model="item.estado" ng-options="option for option in options.estado" ng-change="saveStatus()"></select></div>
	</div>
	<div class="form-group">
		<div class="col-xs-3"><p class="form-control-static">Títulos *</p></div>
		<div class="col-xs-4">
			<div class="form-control alert-dismissible bg-warning" ng-repeat="titulo in item.titulos">
				{{ titulo.titulo }}
			</div>
		</div>
		<div class="col-xs-1">
			<p class="form-control-static" ng-repeat="titulo in item.titulos">
				<input type="checkbox" ng-click="intersect()" ng-model="check.titulos[titulo.id]">  <span>{{ sets.titulos[titulo.id].length }}</span>
			</p>
		</div>
	</div>
	<div class="form-group">
		<div class="col-xs-3"><p class="form-control-static">Metodologías</p></div>
		<div class="col-xs-4"><textarea class="form-control" readonly disabled ng-model="item.metodologias"></textarea></div>
		<div class="col-xs-1"></div>
	</div>
	<div class="form-group">
		<div class="col-xs-3"><p class="form-control-static">Certificaciones</p></div>
		<div class="col-xs-4"><textarea class="form-control" readonly disabled ng-model="item.certificaciones"></textarea></div>
		<div class="col-xs-1"></div>
	</div>
	<div class="form-group">
		<div class="col-xs-3"><p class="form-control-static">Experiencia</p></div>
		<div class="col-xs-4"><select class="form-control" readonly disabled ng-model="item.cv_experiencia" ng-options="option for option in options.cv_experiencia"></select></div>
		<div class="col-xs-1"><p class="form-control-static"><input type="checkbox" ng-click="intersect()" ng-model="check.cv_experiencia">  <span>{{ sets.cv_experiencia.length }}</span></p></div>
	</div>
	<div class="form-group">
		<div class="col-xs-3"><p class="form-control-static">Tamaño</p></div>
		<div class="col-xs-4"><select class="form-control" readonly disabled ng-model="item.tamanio"        ng-options="option for option in options.tamanio"></select></div>
		<div class="col-xs-1"><p class="form-control-static"><input type="checkbox" ng-click="intersect()" ng-model="check.tamanio">         <span>{{ sets.tamanio.length }}</span></p></div>
	</div>
	<div class="form-group">
		<div class="col-xs-3"><p class="form-control-static">Dependencia</p></div>
		<div class="col-xs-4"><select class="form-control" readonly disabled ng-model="item.dependencia"    ng-options="option for option in options.dependencia"></select></div>
		<div class="col-xs-1"><p class="form-control-static"><input type="checkbox" ng-click="intersect()" ng-model="check.dependencia">     <span>{{ sets.dependencia.length }}</span></p></div>
	</div>
	<div class="form-group">
		<div class="col-xs-3"><p class="form-control-static">Laico/Religioso</p></div>
		<div class="col-xs-4"><select class="form-control" readonly disabled ng-model="item.laico_religioso"ng-options="option for option in options.laico_religioso"></select></div>
		<div class="col-xs-1"><p class="form-control-static"><input type="checkbox" ng-click="intersect()" ng-model="check.laico_religioso"> <span>{{ sets.laico_religioso.length }}</span></p></div>
	</div>
	<div class="form-group">
		<div class="col-xs-3"><p class="form-control-static">Tipo Establecimiento</p></div>
		<div class="col-xs-4"><select class="form-control" readonly disabled ng-model="item.tipo"           ng-options="option for option in options.tipo"></select></div>
		<div class="col-xs-1"><p class="form-control-static"><input type="checkbox" ng-click="intersect()" ng-model="check.tipo">            <span>{{ sets.tipo.length }}</span></p></div>
	</div>
	<div class="form-group">
		<div class="col-xs-3"><p class="form-control-static">Proyecto</p></div>
		<div class="col-xs-4"><select class="form-control" readonly disabled ng-model="item.proyecto" ng-options="option for option in options.proyecto"></select></div>
	</div>
	<div class="form-group">
		<div class="col-xs-3"><p class="form-control-static">Experiencia Docente</p></div>
		<div class="col-xs-4"><select class="form-control" readonly disabled ng-model="item.experiencia_docente" ng-options="option for option in options.experiencia_docente"></select></div>
	</div>
	<div class="form-group">
		<hr>
	</div>
	<div class="form-group">
		<div class="col-xs-7">
			<div class="form-group">
				<div class="col-xs-4"><p class="form-control-static">Tipo de Contrato</p></div>
				<div class="col-xs-8"><select class="form-control" readonly disabled ng-model="item.contrato"       ng-options="option for option in options.contrato"></select></div>
			</div>
			<div class="form-group">
				<div class="col-xs-4"><p class="form-control-static">Remuneración (tope)</p></div>
				<div class="col-xs-8"><input  class="form-control" type="text" readonly disabled ng-model="item.sueldo_mensual_hasta"></div>
			</div>
			<div class="form-group">
				<div class="col-xs-4"><p class="form-control-static">Función a cumplir *</p></div>
				<div class="col-xs-8"><select class="form-control" readonly disabled ng-model="item.id_funciones_a_cumplir" ng-options="cargo.id as cargo.cargo for cargo in cargos"></select></div>
			</div>
			<div class="form-group">
				<div class="col-xs-4"><p class="form-control-static">Disponibilidad</p></div>
				<div class="col-xs-8"><select class="form-control" readonly disabled ng-model="item.disponibilidad" ng-options="option for option in options.disponibilidad"></select></div>
			</div>                 
			<div class="form-group">
				<div class="col-xs-4"><p class="form-control-static">Descripción</p></div>
				<div class="col-xs-8"><textarea class="form-control" readonly disabled ng-model="item.descripcion"></textarea></div>
			</div>
			<div class="form-group">
				<div class="col-xs-4"><p class="form-control-static">Horario semanal</p></div>
				<div class="col-xs-8"><input  class="form-control" type="text" readonly disabled ng-model="item.horario"></div>
			</div>
			<div class="form-group">
				<div class="col-xs-4"><p class="form-control-static">Cantidad de Horas</p></div>
				<div class="col-xs-8"><input  class="form-control" type="text" readonly disabled ng-model="item.cantidad_horas"></div>
			</div>                 
			<div class="form-group">
				<div class="col-xs-4"><p class="form-control-static">Asignaturas *</p></div>
				<div class="col-xs-8"><select class="form-control" readonly disabled ng-model="item.id_asignaturas" ng-options="asignatura.id as asignatura.asignatura for asignatura in asignaturas"></select></div>
			</div>
			<div class="form-group">
				<div class="col-xs-4"><p class="form-control-static">Niveles *</p></div>
				<div class="col-xs-8"><select class="form-control" readonly disabled ng-model="item.id_niveles"     ng-options="nivel.id as nivel.nivel for nivel in niveles"></select></div>
			</div>                 
			<div class="form-group">
				<div class="col-xs-4"><p class="form-control-static">Otros Beneficios</p></div>
				<div class="col-xs-8"><textarea  class="form-control" readonly disabled ng-model="item.otros_beneficios"></textarea></div>
			</div>
		</div>
		<div class="col-xs-4">
			<div class="alert alert-warning">
				<div ng-repeat="list in results" ng-class="{'bg-danger': list.prospecto }">
					<input type="checkbox" ng-disabled="list.prospecto" ng-model="list.check" /> <a href="" ng-click="profesor(list.id)">{{ list.apellidos }} {{ list.apellido_m }}, {{ list.nombres }}</a>
				</div>
				<button class="btn btn-sm btn-warning" ng-click="addToProspects()">Agregar</button>
			</div>
			<div class="alert alert-success">
				<div ng-repeat="list in prospects">
					<input type="checkbox" ng-model="list.check" /> <a href="" ng-click="profesor(list.id)">{{ list.apellidos }} {{ list.apellido_m }}, {{ list.nombres }}</a>
				</div>
				<button class="btn btn-sm btn-danger" ng-click="removeFromProspects()">Quitar</button>
			</div>
		</div>
	</div>
</form>
