<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>Titulo</th>
			<th>Fecha</th>
			<th>Estado</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	
	<tbody>
		<tr ng-repeat="item in list">
			<th>{{ item.busqueda }}</th>
			<th>{{ item.fecha }}</th>
			<th>{{ item.estado }}</th>
			<th><button class="btn btn-sm btn-info" ng-click="form(item.id)"><span class="glyphicon glyphicon-edit"></span></button></th>
			<th></th>
		</tr>
	</tbody>
</table>
