<div class="list-group" ng-if="mainRole=='admin'">
	<b class="list-group-item list-group-item-info">Administrador</b>

	<a class="list-group-item" ui-sref-active="active" ui-sref="admin.roles" ng-show="role.role!='vendedor'">Gesti&oacute;n de Roles</a>
	<a class="list-group-item" ui-sref-active="active" ui-sref="admin.compras">Compras</a>
	<a class="list-group-item" ui-sref-active="active" ui-sref="admin.avisos">Avisos</a>
	<a class="list-group-item" ui-sref-active="active" ui-sref="admin.postulantes">Postulantes</a>
	<a class="list-group-item" ui-sref-active="active" ui-sref="admin.cvs">CVs</a>
</div>
