<style>
	tbody > tr { cursor: pointer; }
</style>

<h3 class="text-center">Roles: Vendedores y Supervisores</h3>

<table class="table table-striped table-hover">
	<thead>
		<tr><th>Email</th>
			<td>Nombres</td>
			<td>Apellidos</td>
			<td>Rol</td>
			<td></td>
			<td></td>
		</tr>
		<tr class="warning">
			<th><typeahead-wrapper uri="admin/usuarios" text="email" placeholder="Buscar por email"
					ng-model="$ctrl.user.id" on-update="$ctrl.select(item)"
					ng-pattern="/^[A-Za-z0-9._%+-]+@[A-Za-z]+\.[A-Za-z.]+$/" />
			</th>
			<td><label class="form-control-static">{{ $ctrl.user.nombres }}</label></td>
			<td><label class="form-control-static">{{ $ctrl.user.apellidos }}</label></td>
			<td colspan="2">
				<select class="form-control" ng-model="$ctrl.user.role" required
					ng-options="opt.role as opt.label for opt in [{ role: 'vendedor', label: 'Vendedor' }, { role: 'supervisor', label: 'Supervisor' }]">
				</select>
			</td>
			<td><a href="" ng-click="$ctrl.save($ctrl.user)"><span class="glyphicon glyphicon-plus-sign" style="color: GREEN;"></span></a></td>
		</tr>
	</thead>
	
	<tbody>
		<tr ng-repeat="item in $ctrl.list" ng-class="{'danger': !item.directo }" ng-click="$ctrl.open(item)">
			<td>{{ item.email }}</td>
			<td>{{ item.nombres }}</td>
			<td>{{ item.apellidos }}</td>
			<td><span class="fa" ng-class="{'fa-user': item.role=='vendedor', 'fa-eye': item.role=='supervisor' }" title="{{ item.role }}"></span></td>
			<td>{{ item.creador }}</td>
			<td><span class="badge">{{ item.colegios }}</span></td>
		</tr>
	</tbody>
</table>
