<h3 class="text-center">Roles: Vendedores</h3>

<div class="col-sm-8">
	<admin-roles on-update="$state.current.action($state, response)" />
</div>

<ui-view class="col-sm-4">
	<h4 class="text-center">Colegios asignados</h4>
</ui-view>
