<table class="table table-striped table-hover">
	<thead>
		<tr><th colspan="4">
				{{ $ctrl.user.role }}: {{ $ctrl.user.email }}
				<a class="pull-right" ng-click="$ctrl.kill($ctrl.user)"><span class="glyphicon glyphicon-minus-sign" style="color: RED;"></span></a>
			</th>
		</tr>
		
		<tr><th colspan="2">
				<comuna on-update="$ctrl.colegios(id, id_region)" />
			</th>
			<th colspan="2">
				<select class="form-control" ng-model="$ctrl.dependencia" ng-options="opt for opt in $ctrl.dependencias"></select>
			</th>
		</tr>
	</thead>
</table>

<table class="table table-striped table-hover">
	<thead>
		<tr><th>RBD</th>
			<th>Colegio</th>
			<td>Comuna</td>
			<td>Dependencia</td>
		</tr>
	</thead>
	
	<tbody>
		<tr ng-repeat="item in $ctrl.list | filter:{ dependencia: $ctrl.dependencia }">
			<td>{{ item.id }}</td>
			<td>{{ item.nombre }}</td>
			<td>{{ item.comuna }}</td>
			<td>{{ item.dependencia }}</td>
			<td><a ng-click="$ctrl.save(item)"><span class="glyphicon glyphicon-plus-sign" style="color: GREEN;"></span></a></td>
		</tr>
		
		<tr ng-repeat="item in $ctrl.user.colegios">
			<td>{{ item.id }}</td>
			<td>{{ item.nombre }}</td>
			<td>{{ item.comuna }}</td>
			<td>{{ item.dependencia }}</td>
			<td><a ng-click="$ctrl.kill(item)"><span class="glyphicon glyphicon-minus-sign" style="color: RED;"></span></a></td>
		</tr>
	</tbody>
</table>
