<div ng-repeat="list in $ctrl.lists">
	<h4>Lista {{ list.list_id }}, {{ list.total_items }} items</h4>
	
	<p ng-repeat="item in list.members">
		<button class="btn btn-xs btn-danger" ng-click="$ctrl.delete(list.list_id, item.id) && list.members.splice($index, 1)">&times;</button>
		{{ item.email_address }} 
	</p>
</div>
