body {
	font-family: 'Quattrocento Sans';
}
.nav, .pagination, .carousel, .panel-title a {
	cursor: pointer; 
}
.ng-hide { 
	display: none!important;
}
.navbar {
	margin: 20px 0 0;
}
.navbar-inverse {
	background-color: #072839;
	border-color: #072839;
	
	background-image: -webkit-linear-gradient(top,#092824 0,#072839 100%);	/* 092824 */
	background-image: -o-linear-gradient(top,#092824 0,#072839 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#092824),to(#072839));
	background-image: linear-gradient(to bottom,#092824,#072839 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff092824', endColorstr='#ff072839', GradientType=0);
}
.navbar-inverse .navbar-brand, 
.navbar-inverse .navbar-nav > li > a {
	color: #C9F8E4;
}
.nav-pills>li.active>a, 
.nav-pills>li.active>a:hover, 
.nav-pills>li.active>a:focus {
	color: #fff;
	background-color: #0074C9;
}
.ng-invalid,
.radio-inline > .ng-invalid {
	border-color: #CA2086;
	color: #CA2086;
}
tags-input .host {
	margin-top: 0;
}
tags-input .tags {
	border-radius: 4px;
}

aside,
#news {
	background: #F8F8F8;
	-webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.22);
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.22);
	/* top:-30px; */
}

/*	error signs
*/
input.ng-invalid, 
select.ng-invalid,
tags-input.ng-invalid .tags {
	background: YELLOW;
}
.error-message {
	background: RED; 
	color: WHITE; 
	display: block;
	font-weight: bold; 
	text-align: center;
}

/*	http://stackoverflow.com/questions/21324395/bootstrap-3-flush-footer-to-bottom-not-fixed
*/
html, body {
	height: 100%;
}
.non-footer-wrapper {
/* 	background: url(logo_v2.267.png) no-repeat;
 */	height: auto !important;
	height: 90%;
	margin: 0 auto -90px; /* the bottom margin is the negative value of the footer's height */
	min-height: 100%;
}
.push {
	height: 90px; /* .push must be the same height as .footer */
}
.footer {
	background-color: #072839;
	border-color: #072839;
	height: 90px; /* .push must be the same height as .footer */
	margin-bottom: 0;
}
