<style>
	.form-group {
		margin-bottom: 5px;
	}
	.form-control.alert-dismissible {
		background-color: #fcf8e3;
	}
</style>
<form class="form form-horizontal" name="form" role="form" ng-submit="form.$valid && save()" novalidate>
	<div class="form-group">
		<div class="col-xs-3"><p class="form-control-static">Nombre de Búsqueda</p></div>
		<div class="col-xs-4"><input  class="form-control" type="text" ng-model="item.busqueda"></div>
		<div class="col-xs-3"><p class="form-control-static">Solicitada el {{ item.fecha }}</p></div>
		<div class="col-xs-2"><input type="submit" class="btn btn-success" value="Guardar"></div>
	</div>
	<div class="form-group">
		<div class="col-xs-3"><p class="form-control-static">Títulos *</p></div>
		<div class="col-xs-4">
			<select class="form-control" ng-model="titMgr.id" ng-change="titMgr.add()" ng-options="titulo.id as titulo.titulo group by titulo.nivel for titulo in titulos"></select>
			
			<div class="form-control alert-dismissible bg-warning" ng-repeat="titulo in item.titulos">
				{{ titulo.titulo }}
				<button type="button" class="close" aria-label="Close" ng-click="titMgr.remove(titulo.id)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="col-xs-3"><p class="form-control-static">Metodologías</p></div>
		<div class="col-xs-4"><input  class="form-control" type="text" ng-model="item.metodologias"></div>
	</div>
	<div class="form-group">
		<div class="col-xs-3"><p class="form-control-static">Certificaciones</p></div>
		<div class="col-xs-4"><input  class="form-control" type="text" ng-model="item.certificaciones"></div>
	</div>
	<div class="form-group">
		<div class="col-xs-3"><p class="form-control-static">Experiencia</p></div>
		<div class="col-xs-4"><select class="form-control" ng-model="item.cv_experiencia" ng-options="option for option in options.cv_experiencia"></select></div>
	</div>
	<div class="form-group">
		<div class="col-xs-3"><p class="form-control-static">Tamaño</p></div>
		<div class="col-xs-4"><select class="form-control" ng-model="item.tamanio"        ng-options="option for option in options.tamanio"></select></div>
	</div>
	<div class="form-group">
		<div class="col-xs-3"><p class="form-control-static">Dependencia</p></div>
		<div class="col-xs-4"><select class="form-control" ng-model="item.dependencia"    ng-options="option for option in options.dependencia"></select></div>
	</div>
	<div class="form-group">
		<div class="col-xs-3"><p class="form-control-static">Laico/Religioso</p></div>
		<div class="col-xs-4"><select class="form-control" ng-model="item.laico_religioso"ng-options="option for option in options.laico_religioso"></select></div>
	</div>
	<div class="form-group">
		<div class="col-xs-3"><p class="form-control-static">Tipo Establecimiento</p></div>
		<div class="col-xs-4"><select class="form-control" ng-model="item.tipo"           ng-options="option for option in options.tipo"></select></div>
	</div>
	<div class="form-group">
		<div class="col-xs-3"><p class="form-control-static">Proyecto</p></div>
		<div class="col-xs-4"><select class="form-control" ng-model="item.proyecto" ng-options="option for option in options.proyecto"></select></div>
	</div>
	<div class="form-group">
		<div class="col-xs-3"><p class="form-control-static">Experiencia Docente</p></div>
		<div class="col-xs-4"><select class="form-control" ng-model="item.experiencia_docente" ng-options="option for option in options.experiencia_docente"></select></div>
	</div>
	<div class="form-group">
		<hr>
	</div>
	<div class="form-group">
		<div class="col-xs-7">
			<div class="form-group">
				<div class="col-xs-4"><p class="form-control-static">Tipo de Contrato</p></div>
				<div class="col-xs-8"><select class="form-control" ng-model="item.contrato"       ng-options="option for option in options.contrato"></select></div>
			</div>
			<div class="form-group">
				<div class="col-xs-4"><p class="form-control-static">Remuneración (tope)</p></div>
				<div class="col-xs-8"><input  class="form-control" type="text" ng-model="item.sueldo_mensual_hasta"></div>
			</div>
			<div class="form-group">
				<div class="col-xs-4"><p class="form-control-static">Función a cumplir</p></div>
				<div class="col-xs-8"><select class="form-control" ng-model="item.id_funciones_a_cumplir" ng-options="cargo.id as cargo.cargo for cargo in cargos"></select></div>
			</div>
			<div class="form-group">
				<div class="col-xs-4"><p class="form-control-static">Disponibilidad</p></div>
				<div class="col-xs-8"><select class="form-control" ng-model="item.disponibilidad" ng-options="option for option in options.disponibilidad"></select></div>
			</div>                 
			<div class="form-group">
				<div class="col-xs-4"><p class="form-control-static">Descripción</p></div>
				<div class="col-xs-8"><textarea class="form-control"           ng-model="item.descripcion"></textarea></div>
			</div>
			<div class="form-group">
				<div class="col-xs-4"><p class="form-control-static">Horario semanal</p></div>
				<div class="col-xs-8"><input  class="form-control" type="text" ng-model="item.horario"></div>
			</div>
			<div class="form-group">
				<div class="col-xs-4"><p class="form-control-static">Cantidad de Horas</p></div>
				<div class="col-xs-8"><input  class="form-control" type="text" ng-model="item.cantidad_horas"></div>
			</div>                 
			<div class="form-group">
				<div class="col-xs-4"><p class="form-control-static">Asignaturas *</p></div>
				<div class="col-xs-8"><select class="form-control" ng-model="item.id_asignaturas" ng-options="asignatura.id as asignatura.asignatura for asignatura in asignaturas"></select></div>
			</div>
			<div class="form-group">
				<div class="col-xs-4"><p class="form-control-static">Niveles *</p></div>
				<div class="col-xs-8"><select class="form-control" ng-model="item.id_niveles"     ng-options="nivel.id as nivel.nivel for nivel in niveles"></select></div>
			</div>                 
			<div class="form-group">
				<div class="col-xs-4"><p class="form-control-static">Otros Beneficios</p></div>
				<div class="col-xs-8"><textarea  class="form-control"          ng-model="item.otros_beneficios"></textarea></div>
			</div>
		</div>
	</div>
</form>
