<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>Titulo</th>
			<th>Fecha</th>
			<th>Estado</th>
			<th></th>
		</tr>
	</thead>
	
	<tbody>
		<tr ng-repeat="item in list">
			<th>{{ item.busqueda }}</th>
			<th>{{ item.fecha }}</th>
			<th>{{ item.estado }}</th>
			<th>
				<button class="btn btn-xs btn-info  " ng-if="item.estado=='solicitada'" ng-click="form(item.id)"  ><span class="glyphicon glyphicon-pencil"></span></button>
				<button class="btn btn-xs btn-danger" ng-if="item.estado=='solicitada'" ng-click="delete(item.id)"><span class="glyphicon glyphicon-minus"></span></button>
			</th>
		</tr>
	</tbody>
</table>
<button class="btn btn-md btn-warning" ng-click="form(0)"><span class="glyphicon glyphicon-plus"></span></button>
