<form class="form-horizontal" name="form" role="form" ng-submit="form.$valid && put()" novalidate>
	<div class="form-group">
		<label class="col-sm-2 control-label">RUT</label>
		<div class="col-sm-2">
			<input class="form-control" type="text" name="rut" disabled="disabled"
				ng-model="items.put.RUT" ui-mask="99.999.999-*"
			/>
		</div>
	</div>
	
	<div class="form-group">
		<label class="col-sm-2 control-label">Nombres</label>
		<div class="col-sm-4">
			<input class="form-control" type="text" required ng-model="items.put.nombres"    ng-pattern="/^[A-Za-z áéíóúñÑ]+$/" />
		</div>
		
		<label class="col-sm-2 control-label">Apellidos</label>
		<div class="col-sm-2">
			<input class="form-control" type="text" required ng-model="items.put.apellidos"  ng-pattern="/^[A-Za-z áéíóúñÑ]+$/" />
		</div>
		<div class="col-sm-2">
			<input class="form-control" type="text"          ng-model="items.put.apellido_m" ng-pattern="/^[A-Za-z áéíóúñÑ]+$/" />
		</div>
	</div>
	
	<div class="form-group">
		<label class="col-sm-2 control-label">Teléfono fijo</label>
		<div class="col-sm-3">
			<input class="form-control" type="text" ng-model="items.put.telefono_fijo"  ui-mask="99 999-9999" />
		</div>
		
		<label class="col-sm-1 control-label">Móvil</label>
		<div class="col-sm-3">
			<input class="form-control" type="text" ng-model="items.put.telefono_movil" ui-mask="99 999-9999" />
		</div>
	</div>
	
	<div class="form-group">
		<label class="col-sm-2 control-label">Email</label>
		<div class="col-sm-4">
			<input class="form-control" type="email" disabled="disabled"
				ng-model="items.put.email"
			/>
		</div>
		
		<label class="col-sm-2 control-label">Email alternativo</label>
		<div class="col-sm-4">
			<input class="form-control" type="email" placeholder="alt@dominio.cl" 
				ng-model="items.put.email_alt" 
				ng-pattern="/^[A-Za-z0-9._%+-]+@[A-Za-z]+\.[A-Za-z.]+$/"
			/>
		</div>
	</div>
	
	<div class="form-group">
		<label class="col-sm-2 control-label" class="control-label">Skype</label>
		<div class="col-sm-4">
			<input class="form-control" ng-model="items.put.skype">
		</div>
	</div>
	
	<div class="col-sm-2 col-sm-offset-5">
		<input class="form-control btn" ng-class="{'btn-success': form.$valid }" ng-disabled="!form.$dirty || form.$invalid" type="submit" value="Enviar" />
		&nbsp;
	</div>
</form>
