<form class="form-horizontal" name="form" role="form" ng-submit="form.$dirty && form.$valid && put()" novalidate>
	<div class="form-group">
		<label class="col-sm-2 control-label">RBD</label>
		<div class="col-sm-2">
			<input class="form-control" type="text" disabled="disabled" ng-model="items.put.id" />
		</div>
		
		<label class="col-sm-1 control-label">Colegio</label>
		<div class="col-sm-7">
			<input class="form-control" type="text" ng-model="items.put.nombre" />
		</div>
	</div>
	
	<div class="form-group">
		<label class="col-sm-2 control-label">Domicilio</label>
		<div class="col-sm-5">
			<input class="form-control" type="text" ng-model="items.put.domicilio" />
		</div>
	
		<label class="col-sm-1 control-label">Comuna</label>
		<div class="col-sm-4">
			<input class="form-control" type="text" ng-model="items.put.comuna" 
				typeahead="comuna.comuna for comuna in comunas | filter:$viewValue | limitTo:10" 
				typeahead-editable="false"
			/>
		</div>
	</div>
	
	<div class="form-group">
		<label class="col-sm-2 control-label">Teléfono fijo</label>
		<div class="col-sm-2">
			<input class="form-control" type="text" ng-model="items.put.telefono_fijo"  ui-mask="99 999-9999" />
		</div>
		
		<label class="col-sm-1 control-label">Móvil</label>
		<div class="col-sm-2">
			<input class="form-control" type="text" ng-model="items.put.telefono_movil" ui-mask="99 999-9999" />
		</div>
	</div>
	
	<div class="form-group">
		<label class="col-sm-2 control-label">Email</label>
		<div class="col-sm-4">
			<input class="form-control" type="email" disabled="disabled"
				ng-model="items.put.email_admin"
			/>
		</div>
		
		<label class="col-sm-2 control-label">Email alternativo</label>
		<div class="col-sm-4">
			<input class="form-control" type="email" placeholder="alt@dominio.cl" 
				ng-model="items.put.email_alt" 
				ng-pattern="/^[A-Za-z0-9._%+-]+@[A-Za-z]+\.[A-Za-z.]+$/"
			/>
		</div>
	</div>
	
	<div class="form-group">
		<label class="col-sm-2 control-label">Sitio web</label>
		<div class="col-sm-4">
			<input class="form-control" type="url" ng-model="items.put.website">
		</div>
	</div>
	
	<div class="form-group">
		<label class="col-sm-2 control-label">Facebook</label>
		<div class="col-sm-4">
			<input class="form-control" type="url" ng-model="items.put.facebook">
		</div>
		
		<label class="col-sm-2 control-label">LinkedIn</label>
		<div class="col-sm-4">
			<input class="form-control" type="url" ng-model="items.put.linkedIn">
		</div>
	</div>
	
	<fieldset>
		<legend>Datos de Facturación</legend>
		
		<div class="form-group">
			<label class="col-sm-2 control-label">RUT</label>
			<div class="col-sm-2">
				<input class="form-control" type="text" name="rut" 
					ng-model="items.put.RUT" ui-mask="99.999.999-*"
				/>
			</div>
			
			<label class="col-sm-1 control-label">R.Social</label>
			<div class="col-sm-7">
				<input class="form-control" type="text" ng-model="items.put.razon_social" />
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label">Domicilio</label>
			<div class="col-sm-5">
				<input class="form-control" type="text" ng-model="items.put.domicilio_fc" />
			</div>
			
			<label class="col-sm-2 control-label">Giro Comercial</label>
			<div class="col-sm-3">
				<input class="form-control" type="text" ng-model="items.put.giro_comercial" />
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label">Teléfono</label>
			<div class="col-sm-2">
				<input class="form-control" type="text" ng-model="items.put.telefono_fc"  ui-mask="99 999-9999" />
			</div>
			
			<label class="col-sm-4 control-label">Email</label>
			<div class="col-sm-4">
				<input class="form-control" type="email" placeholder="alt@dominio.cl" 
					ng-model="items.put.email_fc" 
					ng-pattern="/^[A-Za-z0-9._%+-]+@[A-Za-z]+\.[A-Za-z.]+$/"
				/>
			</div>
		</div>
	</fieldset>
	
	<div class="col-sm-2 col-sm-offset-5">
		<input class="form-control btn" ng-class="{'btn-success': form.$dirty && form.$valid }" ng-disabled="!(form.$dirty && form.$valid)" type="submit" value="Guardar" />
		&nbsp;
	</div>
</form>
