<style>
	uib-accordion .panel-default>.panel-heading { 
		background: #d9edf7; 
		color: #31708f;
	}
	uib-accordion .panel-title { 
		font-size: 14px; 
	}
	uib-accordion .panel-body { 
		padding: 0; 
	}
</style>

<uib-accordion>
	<div uib-accordion-group class="panel-default" is-disabled="true" ng-repeat="role in roles | filter:{ role: 'supervisor' } | limitTo:1">
		<uib-accordion-heading>
			<a href="" ng-click="$state.go('supervisor.vendedores')">Supervisor</a>
		</uib-accordion-heading>
	</div>

	<div uib-accordion-group class="panel-default" ng-repeat="role in roles | filter:{ tipo: 'colegios' } | filter:{ role: 'vendedor' }">
		<ng-include src="'inline/menu.html'" />
	</div>
	<div uib-accordion-group class="panel-default" ng-repeat="role in roles | filter:{ tipo: 'colegios' } | filter:{ role: 'sostenedor' }">
		<ng-include src="'inline/menu.html'" />
	</div>
	<div uib-accordion-group class="panel-default" ng-repeat="role in roles | filter:{ tipo: 'colegios' } | filter:{ role: 'director' }">
		<ng-include src="'inline/menu.html'" />
	</div>
	<div uib-accordion-group class="panel-default" ng-repeat="role in roles | filter:{ tipo: 'colegios' } | filter:{ role: 'gestor' }">
		<ng-include src="'inline/menu.html'" />
	</div>
</uib-accordion>



<script id="inline/menu.html" type="text/ng-template">
	<uib-accordion-heading>
		<div class="strong">
			RBD {{ role.id }} <label class="label label-primary pull-right">{{ role.role }}</label>
		</div>
		<div>{{ role.nombre }}</div>
	</uib-accordion-heading>
	
	<a class="list-group-item" ui-sref-active="active" ui-sref="colegios.datos( { id_colegio: role.id })">Datos del Colegio</a>
	<a class="list-group-item" ui-sref-active="active" ui-sref="colegios.admin( { id_colegio: role.id })">Datos del Administrador</a>
	<a class="list-group-item" ui-sref-active="active" ui-sref="colegios.roles( { id_colegio: role.id })" ng-show="role.role!='gestor'">Gesti&oacute;n de Roles</a>
	<a class="list-group-item" ui-sref-active="active" ui-sref="colegios.compras({id_colegio: role.id })">Mis Compras</a>
	<a class="list-group-item" ui-sref-active="active" ui-sref="colegios.avisos({ id_colegio: role.id })">Mis Avisos</a>
</script>
