<h3 class="col-xs-3">Roles</h3>

<h3 class="col-xs-9 text-right">
	<!-- from: admin/cvs-alta -->
	<form class="form-inline" name="form" novalidate ng-submit="form.$dirty && form.$valid && save(add)">
		<div class="input-group">
			<label class="input-group-addon">Email</label>
			<input class="form-control" type="text" placeholder="email"		required ng-model="add.email" 
				ng-pattern="/^[A-Za-z0-9._%+-]+@[A-Za-z]+\.[A-Za-z.]+$/" />
				
			<label class="input-group-addon">RUT</label>
			<input class="form-control" type="text" ui-mask="99.999.999-*"	required ng-model="add.RUT" 
				ng-change="validaRut(add.RUT)" />
				
			<label class="input-group-addon">Rol</label>
			<select class="form-control" required ng-model="add.role" ng-options="role for role in roles"></select>
			
			<div class="input-group-btn">
				<button class="btn" ng-disabled="! (form.$dirty && form.$valid)" type="submit">
					<span class="glyphicon glyphicon-plus-sign" style="color: GREEN;"></span>
				</button>
			</div>
		</div>
	</form>
</h3>

<table class="table table-striped table-hover">
	<thead>
		<tr><th>Email</th>
			<th>RUT</th>
			<td>Rol</td>
			<td>Nombre</td>
			<td>Apellido</td>
			<td>Agregado</td>
		</tr>
	</thead>
	
	<tbody>
		<tr ng-repeat="item in list">
			<td>{{ item.email }}</td>
			<td title="{{ item.id_usuario }}">{{ item.RUT }}</td>
			<td title="{{ item.id_colegio }}">{{ item.role }}</td>
			<td>{{ item.nombres }}</td>
			<td>{{ item.apellidos }}</td>
			<td title="{{ item.created_by }}">{{ item.created_at }}</td>
			<td><a ng-click="kill(item)"><span class="glyphicon glyphicon-minus-sign" style="color: RED;"></span></a></td>
		</tr>
	</tbody>
</table>
