<div>
	<h3>Inscribe tu Colegio en dos pasos:</h3>

	<div class="panel">
		<form class="form-horizontal panel-body" name="form" role="form" novalidate ng-submit="form.$valid && post()">
			<fieldset>
				<legend>1. Busca tu Colegio</legend>
				
				<div class="form-group">
					<div class="col-xs-3">
						<label class="form-control-static">
							<input type="radio" ng-model="buscar_por" value="R"> Por RBD
						</label>
						
						<label class="form-control-static">
							<input type="radio" ng-model="buscar_por" value="C"> Por Comuna y Nombre
						</label>
					</div>
					
					<div class="col-xs-9" ng-if="buscar_por=='R'">
						<label class="col-xs-3 control-label">RBD Colegio</label>
						<div class="col-xs-2">
							<input class="form-control" type="text"
								ng-model="item.rbd" ng-model-options="configModel"
								ng-pattern="/^[0-9]+$/" ui-validate-async="'validaRbd($value)'"
								ng-required="buscar_por=='R'" ng-disabled="buscar_por!='R'" 
							/>
						</div>
						
						<label class="col-xs-2 control-label">Colegio</label>
						<div class="col-xs-5">
							<input class="form-control" type="text" disabled ng-model="item.colegio" />
						</div>
					</div>
					
					<div class="col-xs-9" ng-if="buscar_por=='C'">
						<label class="col-xs-2 control-label">Comuna</label>
						<div class="col-xs-3">
							<typeahead-wrapper placeholder="Comuna" uri="comunas" text="comuna" 
								ng-model="item.id_comuna" ng-required="buscar_por=='C'">	
							</typeahead-wrapper>
						</div>
						
						<label class="col-xs-2 control-label">Colegio</label>
						<div class="col-xs-5">
							<typeahead-wrapper placeholder="Colegio" uri="colegios" text="nombre" 
								ng-model="item.rbd" ng-required="buscar_por=='C'" ng-filter="{ id_comuna: item.id_comuna }"
								on-update="updateColegio(item)">
							</typeahead-wrapper>
						</div>
					</div>
				</div>
				
				<div class="form-group">
					<div class="col-xs-offset-3 col-xs-9">
						<p> ¿No aparece tu colegio? Envianos un mail a info@mundoprofes.cl para darlo de alta.</p>
					</div>
				</div>
			</fieldset>
			
			<fieldset>
				<legend>2. Administrador del Colegio</legend>
				
				<p>Ya estás inscripto en MundoProfes?</p>
				
				<div class="form-group">
					<div class="col-xs-2">
						<label class="form-control-static">
							<input type="radio" ng-model="estoy_inscripto" value="S"> Sí&nbsp;&nbsp;&nbsp;
						</label>
						
						<label class="form-control-static">
							<input type="radio" ng-model="estoy_inscripto" value="N"> No
						</label>
					</div>
					
					<div class="col-xs-10" ng-if="estoy_inscripto=='S'">
						<div class="col-xs-2 control-label">Tu RUT</div>
						<div class="col-xs-4">
							<input class="form-control" type="text" name="rut" required
								ng-model="item.rut" ng-model-options="configModel"
								ui-mask="99.999.999-*" ui-validate="'validaRut($value)'" 
							/>
						</div>
						
						<div class="col-xs-6">
							<input class="form-control" disabled ng-model="item.profesor" placeholder="Nombre registrado" />
						</div>
					</div>
					
					<div class="col-xs-8 col-md-6" ng-if="estoy_inscripto=='N'">
						<signup-profesor on-update="updateProfesor({ id: id, email: email, provider: provider })" />
					</div>					
				</div>
			</fieldset>
			
			<button class="btn" type="submit" ng-class="{'btn-success': form.$valid }" ng-if="item.status!=='complete'">Enviar</button>
		
			<div class="alert">{{ item.error }}</div>
			
			<div ng-if="item.status=='complete'">
				<p class="lead">Hemos enviado un email a {{ item.email }}</p>
			</div>
		</form>
	</div>
</div>
