	<fieldset disabled><!-- admin, profesor -->
		<legend></legend>
		<div class="col-lg-6">
			<p class="form-control-static">Títulos</p>
			<p class="disabled" ng-repeat="titulo in item.titulos">
				{{ titulo.titulo }}
			</p>
			<div class="form-group">
				<div class="col-xs-4 form-control-static">Región</div>
				<div class="col-xs-8 form-control-static disabled">{{ item.region }}</div>
			</div>
			<div class="form-group">
				<div class="col-xs-4 form-control-static">Comuna</div>
				<div class="col-xs-8 form-control-static disabled">{{ item.comuna }}</div>
			</div>
			<div class="form-group">
				<div class="col-xs-4 form-control-static">Experiencia (años)</div>
				<div class="col-xs-8"><select class="form-control" ng-model="item.cv_experiencia" ng-options="option for option in options.cv_experiencia"></select></div>
			</div>
			<div class="form-group">
				<div class="col-xs-4"><p class="form-control-static">Cargos Ejercidos</p></div>
				<div class="col-xs-8">
					<div class="form-control alert-dismissible bg-warning" ng-repeat="cargo in item.experiencias">
						{{ cargo.cargo }}
					</div>
				</div>
			</div>
		</div>
		
		<div class="col-lg-6">
			<div class="form-group">
				<div class="col-xs-4"><p class="form-control-static">Tipo de Contrato</p></div>
				<div class="col-xs-8"><select class="form-control" ng-model="item.contrato" ng-options="option for option in options.contrato"></select></div>
			</div>
			<div class="form-group">
				<div class="col-xs-4"><p class="form-control-static">Remuneración</p></div>
				<div class="col-xs-8"><input  class="form-control" type="text" ng-model="item.sueldo_mensual_hasta"></div>
			</div>
			<div class="form-group">
				<div class="col-xs-4"><p class="form-control-static">Función a cumplir</p></div>
				<div class="col-xs-8">
					<div class="form-control alert-dismissible bg-warning" ng-repeat="cargo in item.funciones">
						{{ cargo.cargo }}
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-xs-4"><p class="form-control-static">Asignaturas</p></div>
				<div class="col-xs-8">
					<div class="form-control alert-dismissible bg-warning" ng-repeat="asignatura in item.asignaturas">
						{{ asignatura.asignatura }}
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-xs-4"><p class="form-control-static">Niveles</p></div>
				<div class="col-xs-8">
					<div class="form-control alert-dismissible bg-warning" ng-repeat="nivel in item.niveles">
						{{ nivel.nivel }}
					</div>
				</div>
			</div>                 
			<div class="form-group">
				<div class="col-xs-4"><p class="form-control-static">Disponibilidad</p></div>
				<div class="col-xs-8"><select class="form-control" ng-model="item.disponibilidad" ng-options="option for option in options.disponibilidad"></select></div>
			</div>                 
			<div class="form-group">
				<div class="col-xs-4"><p class="form-control-static"></p></div>
				<div class="col-xs-4">
					<input class="form-control" type="text" ng-model="item.contrato_desde"
						datepicker-popup="dd-MMM-yyyy" is-open="dp_opened" ng-click="dp_opened = !dp_opened || false" 
						show-weeks="false" show-button-bar="false"
					/></div>
				<div class="col-xs-4">
					<input class="form-control" type="text" ng-model="item.contrato_hasta"
						datepicker-popup="dd-MMM-yyyy" is-open="dp_openet" ng-click="dp_openet = !dp_openet || false" 
						show-weeks="false" show-button-bar="false"
					/></div>
			</div>
			<div class="form-group">
				<div class="col-xs-4"><p class="form-control-static">Cantidad de Horas</p></div>
				<div class="col-xs-8"><textarea  class="form-control" ng-model="item.cantidad_horas"></textarea></div>
			</div>
			<div class="form-group">
				<div class="col-xs-4"><p class="form-control-static">Otros Beneficios</p></div>
				<div class="col-xs-8"><textarea  class="form-control" ng-model="item.otros_beneficios"></textarea></div>
			</div>
		</div>
	</fieldset>
