		<div class="container-fluid non-footer-wrapper">
			<header>
				<div class="row">
					<h4 class="hidden-xs hidden-sm col-md-2">
						<a ui-sref="v.home"><img class="img-responsive" src="images/logo.Mundoprofes.jpg" alt="logo" /></a>
					</h4>

					<div class="col-md-6" ng-if="$state.current.name=='x.form'">
						<br />
						<h1>Formulario de Inscripción</h1>
					</div>
					
					<div class="col-md-8" ng-if="$state.current.name!='x.form'">
						<header class="navbar navbar-inverse" role="navigation">
							<div class="navbar-header">
								<a class="navbar-brand" ui-sref="v.home">Portada</a>
								<!-- hamburger for Professor 
								<button type="button" class="navbar-toggle visible-xs-block" ng-if="windowOrientation=='portrait'">
									<span class="sr-only">Menú del Profesor</span>
								</button>
								-->
								<!-- hamburger for the rest -->
								<button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
							</div>

							<!-- Collect the nav links, forms, and other content for toggling -->
							<nav class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'" ng-click="navCollapsed = true">
								<ul class="nav navbar-nav navbar-left">
									<li><a ui-sref="v.propuesta">Propuesta</a></li>
									<li><a ui-sref="v.servicios">Nuestros Servicios</a></li>
									<li><a ng-hide="isLoggedIn" ui-sref="v.avisos">Ofertas de Empleo</a>
										<a ng-show="isLoggedIn" ui-sref="profesor.avisos">Ofertas de Empleo</a>
									</li>
								</ul>
								<ul class="nav navbar-nav navbar-left visible-xs-block" ng-include="'views/menu.h.xs.html'"></ul>

								<ul class="nav navbar-nav navbar-right hidden-md hidden-lg">
									<li ng-hide="isLoggedIn"><a ui-sref="v.signin">Ingreso</a></li>
									<li ng-hide="isLoggedIn"><a ui-sref="v.signup">Inscribirse</a></li>
									
									<li ng-show="isLoggedIn" dropdown role="presentation" class="hidden-xs">
										<a dropdown-toggle data-toggle="dropdown" role="button" aria-expanded="false">
											Men&uacute; <span class="caret"></span>
										</a>
										<ul class="dropdown-menu" role="menu" ng-include="'views/menu.h.html'"></ul>
									</li>
									
									<li ng-show="isLoggedIn"><a href="#" ng-click="signout()">Cerrar</a></li>
								</ul>
							</nav>
						</header>
					</div>

					<h4 class="hidden-xs hidden-sm col-md-2" ng-if="$state.current.name!='x.form'">
						<a ui-sref="v.signup">
							<img src="images/inscribirse_burned.png" alt="Inscribirse" class="img-responsive" />
						</a>
					</h4>
				</div>
			</header>

			<div class="row" ui-view><!-- _index_home.html, _index_member.html --></div>

			<div class="push"></div>
		</div>

		<footer class="container-fluid footer">
			<div class="navbar">
				<div class="row text-center">
					<div class="col-xs-5 col-sm-4 hidden-md hidden-lg">
						<a ui-sref="v.home"><img class="col-xs-9 img-responsive" src="images/logo.Mundoprofes.gif" alt="logo" /></a>
					</div>

					<div class="hidden-xs hidden-sm col-md-3">
						<div class="row">
							<div class="col-md-8 col-lg-6">
								<img class="img-responsive" src="images/la_comunidad_educativa_de_chile.jpg" alt="motto">
							</div>
						</div>
					</div>

					<div class="hidden-xs col-sm-4 col-md-6 text-info">
						<div>MundoProfes &copy; 2018</div>

						<ng-include src="'/inline/terminos_link.html'"></ng-include>
					</div>

					<div class="col-xs-7 col-sm-4 col-md-3 text-right">
						<div>
							<span class="small">
								<i class="fa fa-cog"></i> 
								<b class="visible-xs-inline">xs</b>
								<b class="visible-sm-inline">sm</b>
								<b class="visible-md-inline">md</b>
								<b class="visible-lg-inline">lg</b>
							</span>
							<style>.btn-social-icon { padding: 8px;}</style>
							<a class="btn btn-social-icon btn-facebook"    href=""><i class="fa fa-facebook"></i></a>
							<a class="btn btn-social-icon btn-google-plus" href=""><i class="fa fa-google-plus"></i></a>
							<a class="btn btn-social-icon btn-linkedin"    href="https://www.linkedin.com/company/mundoprofes-com"><i class="fa fa-linkedin"></i></a>
						</div>
						
						<div class="hidden-sm hidden-md hidden-lg text-info">
							<ng-include src="'/inline/terminos_link.html'"></ng-include>
						</div>
					</div>
				</div>
			</div>
		</footer>
		
		<script type="text/ng-template" id="/inline/terminos_link.html">
			<div class="small">
				<a href="#" ng-click="terminos()">Términos y Condiciones de Uso</a>
			</div>
		</script>
