<div ng-if="$state.current.name!='admin.cvs'">
	<ng-include src="'views/_index_member.html'" />
</div>

<div ng-if="$state.current.name=='admin.cvs'">
	<div class="col-md-12">
		<section role="main" ui-view> cvs-list </section>
	</div>					
</div>
