<style>
	#veil {
		background-color: rgba(0, 0, 0, 0.5); 
		height: 100%; width: 100%; 
		position: absolute; 
		z-index: 9999;
	}
</style>

<div class="hidden-xs hidden-sm col-md-2" ng-include="'views/menu.v.html'"> Left Menu </div>

<div class="col-md-10" style="position: relative;">
	<div id="veil" ng-if="! isLoggedIn">&nbsp;</div>
	
	<section role="main" ui-view> Miembro </section>
</div>					
