<div class="hidden-xs hidden-sm col-md-2" ng-include="'views/menu.v.html'"> Left Menu </div>

<div class="col-md-8">
	<section role="main" ui-view> Portada </section>
</div>					

<aside class="hidden-xs hidden-sm col-md-2" ng-include="'views/news.html'"></aside>
