.form-group {
	margin-bottom: 5px;
}
fieldset[disabled] .form-control, .form-control[disabled], .disabled {
	background-color: #fff;
	border: none; box-shadow: none;
	color: blue; font-weight: bold;
}
.form-control.alert-dismissible {
	background-color: #fcf8e3;
}
