<div class="col-md-6 col-md-offset-3"><!-- no le gusta el Controller acá -->
	<div class="panel panel-info" ng-show="form.email">
		<div class="panel-heading">
			<h3 class="panel-title">Inscribirse como <mark> {{ form.email }} </mark></h3>
		</div>
		
		<div class="panel-body">
			<ol>
				<li>Inscríbase con su email</li>
				<li>Le hemos enviado un mensaje a su email!
					<ul>
						<li>Haga click en el link incluido para confirmar su registración y seleccionar su contraseña.</li>
					</ul>
				</li>
				<li><strong>Agrega una contraseña para completar la registración</strong></li>
			</ol>
			
			<ng-include src="'views/reset.html'"></ng-include>
		</div>
	</div>
	
	<div ng-hide="form.email">
		<h3>Enlace inválido, vuelva a <a href="" ui-sref="signup">inscribirse</a> o algo así</h3>
		
		<h4>O solicite ayuda a nuestro help-desk: info@mundoprofes.cl ....</h4>
	</div>
</div>
