<div class="col-md-8 col-md-offset-2">
	<div class="panel panel-info" ng-if="$ctrl.data.email > ''">
		<div class="panel-heading">
			<h3 class="panel-title">Bienvenido a MundoProfes!</h3>
		</div>
		
		<div class="panel-body">
			<p class="lead">Ingresar contraseña para <mark> {{ $ctrl.data.email }} </mark></p>
			
			<form class="form-horizontal panel-body" name="form" role="form" 
			 ng-submit="$ctrl.data.pass==$ctrl.data.dummy && form.$valid && $ctrl.save()"
			 ng-if="$ctrl.data.status=='pending'" 
			 novalidate>
				<div class="form-group">
					<div class="col-xs-4"><label class="inline right">Nueva contraseña</label></div>
					<div class="col-xs-8"><input type="password" required ng-model="$ctrl.data.pass" /></div>
				</div>
				<div class="form-group">
					<div class="col-xs-4"><label class="inline right">Repetir contraseña</label></div>
					<div class="col-xs-8"><input type="password" required ng-model="$ctrl.data.dummy" /></div>
				</div>
				<div class="form-group">
					<div class="col-xs-4 text-right"><button class="btn" type="submit" ng-class="{'btn-success': $ctrl.data.pass==$ctrl.data.dummy && form.$valid }">Aceptar</button></div>
					<div class="col-xs-8">
						<div class="alert alert-warning" ng-if="$ctrl.data.pass && $ctrl.data.dummy && $ctrl.data.pass!=$ctrl.data.dummy">
							Las contraseñas ingresadas no coinciden.
						</div>
					</div>
				</div>
			</form>

			<div ng-if="$ctrl.data.status=='complete'" class="alert alert-success">
				<h3 class="text-center">Contraseña cambiada!</h3>
				
				<p class="lead"><span class="glyphicon glyphicon-hand-left"></span> Por favor ingresa con tu email y tu nueva contraseña</p>
			</div>
		</div>
	</div>
	
	<div ng-if="$ctrl.data.email==''">
		<h3>Enlace inválido, vuelva a <a href="" ui-sref="forgot">solicitar</a> uno nuevo</h3>
		
		<h4>O solicite ayuda a nuestro help-desk: info@mundoprofes.cl</h4>
	</div>
</div>
