<link rel="stylesheet" type="text/css" href="views/tabset-prez.css" />

<tabset class="tabset-prez" justified="true" type="tabs">
	<tab heading="Empleabilidad">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Queremos un buen trabajo para ti</h3>
			</div>
			
			<p class="panel-body">
					Buscamos las mejores oportunidades laborales, de acuerdo a tus intereses y expectativas.
				<br>
				<br><i class="fa fa-check"></i> Contratación en colegios
				<br><i class="fa fa-check"></i> Reemplazos en colegios
				<br><i class="fa fa-check"></i> Relatorías distintas instituciones
				<br><i class="fa fa-check"></i> Asesorías pedagógicas
				<br><i class="fa fa-check"></i> Clases particulares
			</p>
		</div>
	</tab>
	
	<tab heading="Formación">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Profesionales de educación con las mejores herramientas</h3>
			</div>
			
			<p class="panel-body">
					Buscamos para ti, múltiples alternativas de formación y perfeccionamiento.
				<br>
				<br><i class="fa fa-check"></i> Postgrados
				<br><i class="fa fa-check"></i> Diplomados y certificaciones
				<br><i class="fa fa-check"></i> Cursos de especialización
				<br><i class="fa fa-check"></i> Seminarios y congresos
				<br><i class="fa fa-check"></i> Charlas y exposiciones
			</p>
		</div>
	</tab>
	
	<tab heading="Intercambio">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Generosidad entre educadores</h3>
			</div>
			
			<p class="panel-body">
					Te conectamos con tus pares: MundoProfes es sólo para docentes del mundo escolar.
				<br>Queremos que te puedas vincular mediante:
				<br>
				<br><i class="fa fa-check"></i> Espacios de intercambio de ideas (blogs, foros, wikis)
				<br><i class="fa fa-check"></i> Redes sociales
				<br><i class="fa fa-check"></i> Trabajo colaborativo
			</p>
		</div>
	</tab>
	
	<tab heading="Estar Actualizado">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Profesionales de la educación al día</h3>
			</div>
			
			<p class="panel-body">
				Nos preocupamos de buscar para ti artículos, noticias y videos que te informen de los últimas tendencias, innovaciones y cambios normativos en el mundo de la educación escolar.
			</p>
		</div>
	</tab>
</tabset>
