<style>
	#propuesta {
		position: relative;
	}
	#propuesta > div {
		position: absolute; 
		top: 0; 
		left: 4em;
		right: 4em;
		
		color: #FFF;
	}
	#propuesta > div > h2, 
	#propuesta > div > h3 {
		font-family: Pacifico;
	}
</style>

<div class="row" id="propuesta">
	<img class="col-sm-12 img-responsive" src="images/Pizarron2.png" alt="">
	
	<div>
		<h2 class="text-center">Nuestra propuesta</h2>
		
		<h3>Quiénes somos</h3>
		<p>
			Somos un grupo de profesionales que creemos en el rol fundamental que los
			profesores tienen en el mejoramiento del sistema escolar chileno.
		</p>
		<h3>A qué aspiramos</h3>
		<p>
			Queremos apoyar la creación de una comunidad del mundo docente
			escolar chileno, independiente y transparente, que permita a los profesores
			favorecer su desarrollo profesional, una vinculación activa con el mundo del
			empleo docente y crear puentes para la interacción con tus pares.
		</p>
		<h3>Cómo lo hacemos</h3>
		<p>
			Nuestra misión es construir una red integrada de servicios, herramientas y
			soluciones para ustedes. Que provean respuestas innovadoras, pertinentes y
			simples a todas sus necesidades.
		</p>
	</div>
</div>
<br>
