<style>
	.carousel-caption {
		background-color: rgba(0,0,0,0.3);
		bottom: inherit;
		padding-top: 0;
		padding-left: 1em;
		padding-right: 1em;
		top: 20px;
	}
</style>

<div uib-carousel interval="15000" no-wrap="false" active="0">
	<div uib-slide index="0">
		<img class="hidden-xs"        src="images/home.profesores.jpg"    />
		<img class="visible-xs-block" src="images/home.profesores_xs.jpg" />
		<div class="carousel-caption">
			<h2>Profesores</h2>
			
			<h3>Un buen trabajo, un mejor futuro.</h3>
			
			<p>	Queremos que te puedas realizar en tu vocación de educador. 
				Buscamos las mejores alternativas de trabajo, formación y creamos herramientas para aumentar tu vinculación con el mundo de la educación
			</p>
		</div>
	</div>
	
	<div uib-slide index="1">
		<img class="hidden-xs"        src="images/home.padres.jpg"    />
		<img class="visible-xs-block" src="images/home.padres_xs.jpg" />
		<div class="carousel-caption">
			<h2>Padres</h2>
			
			<h3>Ayudar a la formación de nuestros hijos.</h3>
			
			<p>	Sabemos que quieres brindarle la mejor educación a tus hijos y te ayudamos a ello.<br>
				Te entregamos información para ayudarte a buscar el colegio de tus hijos, te contactamos con el profesor particular que buscas.
			</p>
		</div>
	</div>
	
	<div uib-slide index="2">
		<img class="hidden-xs"        src="images/home.colegios.jpg"    />
		<img class="visible-xs-block" src="images/home.colegios_xs.jpg" />
		<div class="carousel-caption">
			<h2>Colegios</h2>
			
			<h3>Te ayudamos a conformar el equipo profesional que necesitas.</h3>
			
			<p>	Mundoprofes, te vincula con la oferta más amplia, ordenada y actualizada de profesores de Chile. 
				Tus procesos de selección ahora serán más simples y efectivos.
				<br>
				Mundoprofes, te hace visible a padres de familia.
				Trabajamos para que padres y colegios se puedan conocer. 
				Te entregamos una vitrina para que puedas mostrar tu colegio.
			</p>
		</div>
	</div>
</div>
