<li ng-repeat-start="role in roles | filter:{ tipo: 'colegios'}"><a><b>Colegio - RBD: {{ role.id }}</b></a></li>
<li><a ui-sref="colegios.datos( { id_colegio: role.id })">Datos del Colegio</a></li>
<li><a ui-sref="colegios.admin( { id_colegio: role.id })">Datos del Administrador</a></li>
<li><a ui-sref="colegios.compras({id_colegio: role.id })">Mis Compras</a></li>
<li><a ui-sref="colegios.avisos({ id_colegio: role.id })">Mis Avisos</a></li>
<li ng-repeat-end></li>

<li ng-if="windowOrientation=='landscape'" ng-repeat="role in roles | filter:{ tipo: 'profesor'}"><a ui-sref="profesor.alta-express">Mi Perfil</a></li>

<li ng-if="mainRole=='admin'"><a ui-sref="admin.compras">Administrar Compras</a></li>
<li ng-if="mainRole=='admin'"><a ui-sref="admin.avisos">Administrar Avisos</a></li>
<li ng-if="mainRole=='admin'"><a ui-sref="admin.cvs">Administrar CVs</a></li>
