<li ng-repeat="role in roles | filter:{ tipo: 'colegios'}">
	<b class="list-group-item list-group-item-info">Colegio</b>

	<a ui-sref-active="active" ui-sref="colegios.datos( { id_colegio: role.id })">Datos del Colegio</a>
	<a ui-sref-active="active" ui-sref="colegios.admin( { id_colegio: role.id })">Datos del Administrador</a>
	<a ui-sref-active="active" ui-sref="colegios.compras({id_colegio: role.id })">Mis Compras</a>
	<a ui-sref-active="active" ui-sref="colegios.avisos({ id_colegio: role.id })">Mis Avisos</a>
</li>

<li ng-repeat="role in roles | filter:{ tipo: 'profesor'}">
	<a ui-sref-active="active" ui-sref="profesor.alta-express">Mi Perfil</a>
</li>

<li ng-if="mainRole=='admin'">
	<b class="list-group-item list-group-item-info">Administrador</b>

	<a ui-sref-active="active" ui-sref="admin.compras">Compras</a>
	<a ui-sref-active="active" ui-sref="admin.avisos">Avisos</a>
	<a ui-sref-active="active" ui-sref="admin.cvs">CVs</a>
</li>
