<style>
	.clickable {cursor: pointer;}
	.clickable:hover {color: #3278b3;}
</style>

<div ng-if="! isLoggedIn" ng-include="'views/signin.html'"></div>

<div ng-if="  isLoggedIn">
	<div class="list-group" ng-if="user > ''">
		<b class="list-group-item list-group-item-info">{{ user }}</b>
		
		<a class="list-group-item" href="#" ng-click="signout()">Cerrar<span class="hidden-md"> Sesi&oacute;n</span></a>
	</div>
	
	<ng-include src="'views/colegios/menu.v.html'"></ng-include>
	<ng-include src="'views/profesor/menu.v.html'"></ng-include>
	<ng-include src="'views/admin/menu.v.html'"></ng-include>
</div>
