<h3>Noticias</h3>

<div class="list-group" ng-controller="NewsCtrl">
	<a class="list-group-item small" ng-repeat="post in posts" ui-sref-active="active" ui-sref="v.news({ postId: post.id })">
		<h4>{{ post.title }}</h4>
		
		<div ng-bind-html="post.excerpt"></div>
	</a>
</div>
