<div class="col-md-8 col-md-offset-2"><!-- no le gusta el Controller acá -->
	<div class="panel panel-info" ng-show="form.email">
		<div class="panel-heading">
			<h3 class="panel-title">Renovar su contraseña</h3>
		</div>
		
		<div class="panel-body">
			<p class="lead">Renovar contraseña para <mark> {{ form.email }} </mark></p>
			
			<ng-include src="'views/reset.html'"></ng-include>
		</div>
	</div>
	
	<div ng-hide="form.email">
		<h3>Enlace inválido, vuelva a <a href="" ui-sref="forgot">solicitar</a> uno nuevo</h3>
		
		<h4>O solicite ayuda a nuestro help-desk: info@mundoprofes.cl</h4>
	</div>
</div>
