<form class="form-horizontal panel-body" name="form" role="form" 
 ng-controller="ResetCtrl as reset" 
 ng-submit="form.$valid && put()"
 ng-if="reset.data.status=='pending'" 
 novalidate>
	<div class="form-group">
		<div class="col-xs-4"><label class="inline right">Nueva contraseña</label></div>
		<div class="col-xs-8"><input type="password" name="new_pass" required ng-model="reset.data.pass" /></div>
	</div>
	<div class="form-group">
		<div class="col-xs-4"><label class="inline right">Repetir contraseña</label></div>
		<div class="col-xs-8"><input type="password" ui-validate="'$value==new_pass'" ui-validate-watch="'new_pass'" /></div>
	</div>
	<div class="form-group">
		<div class="col-xs-4 text-right"><button class="btn btn-success">Aceptar</button></div>
	</div>
</form>

<div ng-if="reset.data.status=='complete'" class="alert alert-success">
	<h3 class="text-center">Contraseña cambiada!</h3>
	
	<p class="lead"><span class="glyphicon glyphicon-hand-left"></span> Por favor ingresa con tu email y tu nueva contraseña</p>
</div>
