<h3 style="text-align: center;">
<!--
	Sábado 16/09
	<br/>
	<small>
		Hoy estamos actualizando el servidor.
		<br/>
		Lo esperamos mañana domingo 17 nuevamente en linea!
	</small>
 -->
	Ingresar	
	<!-- <a class="pull-right" href="https://ssl.comodo.com"> -->
		<!-- <img src="https://ssl.comodo.com/images/comodo_secure_76x26_white.png" alt="SSL" /> -->
	<!-- </a> -->
</h3>

<div class="list-group">
	<form class="list-group-item" name="form" role="form" ng-controller="SignInCtrl" ng-submit="form.$dirty && form.$valid && post()" novalidate>
	
		<button class="btn btn-primary btn-block" type="button" ng-click="auth('facebook')">
			<span class="hidden-md">Ingreso </span>via Facebook
		</button>
		
		<button class="btn btn-danger  btn-block" type="button" ng-click="auth('google')">
			<span class="hidden-md">Ingreso </span>via Google
		</button>
		
		<button class="btn btn-info    btn-block" type="button" ng-click="auth('linkedin')">
			<span class="hidden-md">Ingreso </span>via LinkedIn
		</button>
		
		<p class="lead text-center">- o -</p>
		
		<div class="form-group">
			<label class="control-label">Email</label>
			<style>
				input[type="email"].ng-invalid-pattern {
					background: YELLOW;
				}
			</style>
			<input class="form-control" name="email" type="email" required ng-model="data.email" ng-pattern="/^[A-Za-z0-9._%+-]+@[A-Za-z]+\.[A-Za-z.]{2,}$/" />
			<code class="error-message" type="text" ng-if="form.email.$error.pattern">Email mal formado!</code>
		</div>
		
		<div class="form-group">
			<label class="control-label">Contraseña</label>
			<input class="form-control" type="password" required ng-model="data.password">
			<a ui-sref="v.forgot">Olvidé mi contraseña</a>
		</div>
		
		<div class="form-group clearfix">
			<button class="btn btn-success pull-right" type="submit" ng-disabled="!(form.$dirty && form.$valid)">
				Ingresar
			</button>
		</div>
		
		<div class="form-group alert alert-warning" ng-show="error.notFound">
			<label class="control-label">Los datos ingresados no coinciden con ningún registro en nuestra base.</label>
		</div>
	</form>
</div>
