.tabset-prez .tab-pane .well {
	background-color: rgba(255, 255, 255, 0.7);
	background-image: none;
	margin-top: 4em;
}
.tabset-prez > ul > li > a {
	background-color: rgba(0, 0, 0, 0.5);
	color: #FFF;
	margin: 0 2px 4px;
}
.tabset-prez > ul > li > a:hover {
	background-color: rgba(255, 255, 255, 0.5);
	color: #000;
}

