<blockquote class="text-justify" style="height: 30em; overflow: auto;">
	<p class="lead">TÉRMINOS Y CONDICIONES</p>
	<p>El presente aviso legal recoge las condiciones generales que rigen el acceso y el uso del sitio web www.mundoprofes.com, del que es titular Mundoprofes Ltda. (en adelante "Mundoprofes") con domicilio en Callao 3037, Las Condes, Santiago: 
	El acceso y uso del sitio web implica la expresa y plena aceptación de estas condiciones generales en el momento en que el usuario acceda al mismo, sin perjuicio de las condiciones particulares que pudieran aplicarse en algunos de los servicios concretos del sitio web. El usuario acepta que el acceso al presente sitio web y de los contenidos incluidos en el mismo, tiene lugar libre y conscientemente, bajo su exclusiva responsabilidad. 
	Los usuarios acceden al sitio web de forma libre y gratuita, si bien Mundoprofes se reserva el derecho de limitar su acceso para determinados contenidos o servicios, exigiendo el registro de sus datos previamente al acceso. Mundoprofes se reserva el derecho a modificar en cualquier momento la presentación, configuración y localización del sitio web, así como los contenidos, servicios y las condiciones requeridas para utilizar los mismos cuando lo considere oportuno o con la finalidad de adecuarse a los cambios legislativos y tecnológicos futuros. Estas modificaciones serán válidas desde su publicación en el sitio web. 
	Mundoprofes se reserva el derecho a interrumpir el acceso al presente sitio web en cualquier momento y sin previo aviso, ya sea por motivos técnicos, de seguridad, de control, de mantenimiento, por fallos de suministro eléctrico, o por cualquier otra causa. Dicha interrupción podrá tener carácter temporal o definitivo, en cuyo caso se comunicará tal circunstancia a los usuarios, quienes podrán sufrir la pérdida, en su caso, de la información almacenada en los distintos servicios, sin dar lugar a indemnización alguna. 
	</p>
	<p class="lead">AVISO DE COPYRIGHT</p>
	<p>Mundoprofes tiene la titularidad del presente sitio web. Todos los derechos de propiedad industrial e intelectual sobre este portal de Internet están reservados, por lo que el acceso al mismo o su utilización, por parte del usuario, no debe considerarse, en forma alguna, como el otorgamiento de ninguna licencia de uso o derecho sobre cualquier activo. Los usuarios del sitio web únicamente podrán realizar un uso privado, personal o profesional de los contenidos de éste. Está absolutamente prohibido, el uso del sitio web o de alguno de sus elementos con fines comerciales o ilícitos. 
	No se podrán realizar actos de reproducción, modificación, distribución o comunicación pública del sitio web sin el previo consentimiento por escrito de Mundoprofes. Queda prohibida la reproducción de los contenidos el sitio web, salvo que esté permitido legalmente y se cite la procedencia o, en su defecto, se autorice por escrito lo contrario. En aquellos casos en que se produzca la necesaria autorización previa por escrito, dicha autorización sustituirá la prohibición general antes citada y mencionará claramente las posibles restricciones de uso. 
	Mundoprofes no asumirá ninguna responsabilidad derivada del uso por terceros del contenido del sitio web y podrá ejercitar todas las acciones civiles o penales que le correspondan en caso de infracción de estos derechos por parte del usuario. 
	</p>
	<p class="lead">RESPONSABILIDAD POR EL FUNCIONAMIENTO DEL SITIO WEB</p>
	<p>Mundoprofes intentará reducir al mínimo los problemas ocasionados por errores de carácter técnico, pudiendo proceder a la suspensión temporal de los servicios y contenidos del sitio web para efectuar operaciones de mantenimiento, mejora o reparación de los mismos, sin que ello origine indemnización alguna al usuario por estos conceptos. 
	Se advierte que alguna información contenida en esta web puede haber sido creada o recogida en archivos o formatos no exentos de errores, por lo que no se puede garantizar que el servicio no quede interrumpido o afectado por tales problemas. Mundoprofes no asume responsabilidad alguna respecto de los daños que pudieran ocasionar al usuario a resultas de la consulta de la presente página web, o de aquellas otras externas objeto de reenvío. 
	Mundoprofes no será responsable en caso de que existan interrupciones del servicio, o mal funcionamiento del mismo que tengan su origen en supuestos de caso fortuito, fuerza mayor u otras causas que escapan de su control. 
	Mundoprofes no asume ninguna responsabilidad derivada de la existencia de enlaces entre los contenidos de este sitio y contenidos situados fuera del mismo, o de cualquier otra mención de contenidos externos a este sitio. 
	En el caso de que Mundoprofes constate por algún medio la ilicitud de la página web, o que lesiona bienes o derechos de un tercero susceptibles de 
	indemnización, la empresa suprimirá o inutilizará dicho enlace. La presencia de otros enlaces en el sitio web tiene una finalidad meramente informativa, no constituyendo en ningún caso una invitación o recomendación a la contratación de productos o servicios que se ofrezcan en el sitio de Internet de destino, y en ningún caso implican el apoyo a las personas o entidades autoras de tales contenidos o titulares de los sitios donde se encuentren. 
	De esta manera Mundoprofes no se responsabiliza del contenido y disponibilidad de los sitios web a los que enlaza fuera de su página, de cualquier daño o pérdida que pueda surgir por la conexión o por el uso de cualquier contenido, producto o servicio disponible en los sitios web a los que se dirijan los enlaces. 
	</p>
	<p class="lead">POLITICA DE PRIVACIDAD</p>
	<p>Mundoprofes informa que todos los datos personales que tenga bajo su responsabilidad serán tratados y se guardarán las debidas medidas de seguridad y confidencialidad de los mismos. 
	Cuando un Usuario del Sitio Web se registra para poder acceder y utilizar el Sitio web y los Servicios como deberá rellenar un formulario de registro disponible en el Sitio Web, en el que le solicitamos datos tales como nombre, dirección, dirección de correo electrónico, teléfono, país, etc. En general, los datos solicitados a través del formulario de registro son obligatorios y necesarios para que el Usuario se pueda registrar como Candidato en el Sitio Web, salvo que específicamente se establezca lo contrario dentro del formulario de registro. En el caso de no suministrar todos los datos considerados como obligatorios y necesarios, Mundoprofes podrá, dependiendo del caso, no permitir el acceso o la utilización del Sitio Web y de los Servicios, o no cursar la solicitud de registro. 
	El proceso de registro incluye, necesaria y obligatoriamente, que el Candidato realice y complete, a través del Sitio Web, tests y cuestionarios psicotécnicos y de fortalezas (en adelante, los “Cuestionarios”), para obtener informes generados a partir de la información completada en los Cuestionarios (en adelante, los “Informes”). Estos Informes de carácter psicotécnico y de aptitudes profesionales forman parte inseparable del valor agregado ofrecido por Mundoprofes con sus Servicios, en tanto en cuanto permiten al Candidato medir su valor y adecuación al mercado laboral, de acuerdo con sus fortalezas profesionales, y con ello mejorar su empleabilidad; y al mismo tiempo permiten ofrecer a los Reclutadores información muy valiosa sobre la adecuación de un Candidato a un puesto de trabajo, en el marco de un proceso de selección laboral. En ningún caso estos Informes harán referencia al perfil psicológico de los Candidatos, ni a aspectos de la personalidad que no tengan relevancia alguna desde un punto de vista profesional y laboral para empresas y reclutadores que busquen candidatos para sus procesos de selección. 
	Una vez completado el proceso de registro y confirmado el mismo por Mundoprofes, el Candidato podrá acceder a su Perfil de Candidato dentro del sitio Web, mediante su nombre de usuario y contraseña, y completarlo con información personal y profesional adicional, su currículum vitae (pudiendo utilizar herramientas específicas para extraer información del mismo), su fotografía, y/u otra información relevante para utilizar los Servicios. 
	Por otro lado, respecto a los datos personales de los Candidatos, incluidos los datos existentes en el Perfil de Candidato y los resultados e Informes obtenidos a partir de los Cuestionarios que el Candidato haya completado, el Candidato autoriza y consiente expresamente para que Mundoprofes pueda proporcionar, o pueda permitir, a los Reclutadores registrados en el Sitio Web, el acceso a dichos datos personales, en el marco de una oferta laboral o proceso de selección, y con la finalidad de gestionar y procesar la participación de los Candidatos en dichos procesos de selección. La propia finalidad de los Servicios de Mundoprofes es precisamente ofrecer a los Reclutadores la información relativa a los Candidatos, incluido los resultados e Informes de un determinado Candidato, para que ambos, tanto Candidatos como Reclutadores, puedan beneficiarse de las herramientas y el valor del Servicio que ofrece Mundoprofes. En este sentido, para poder registrarse y utilizar el Servicio como Candidato, el Candidato debe necesariamente autorizar el acceso de los Reclutadores a la información del Perfil del Candidato y a sus resultados e informes. 
	Finalmente, construimos Mundoprofes.com para mejorar el proceso de reclutamiento y selección de personas, en virtud de un proceso más transparente y más exitoso para todos. Para cumplir este propósito, alentamos a nuestros Usuarios a compartir información verdadera y exacta. También respetamos los derechos de propiedad industrial e intelectual de otros. Por tanto, se exige que la información publicada por los Usuarios sea exacta y que no infrinja derechos de propiedad industrial o intelectual u otros derechos de terceros. 
	</p>
</blockquote>