<form class="form-horizontal" name="myForm" role="form" >
	<div class="form-group">
		<label class="col-sm-2 control-label">Nombres</label>
		<label class="col-sm-4 form-control-static">{{ profesor.datos_personales.nombres }}</label>
		
		<label class="col-sm-2 control-label">Apellidos</label>
		<label class="col-sm-2 form-control-static">{{ profesor.datos_personales.apellidos }}</label>
		<label class="col-sm-2 form-control-static">{{ profesor.datos_personales.apellido_m }}</label>
	</div>
	
	<div class="form-group">
		<label class="col-sm-2 control-label">RUT</label>
		<label class="col-sm-2 form-control-static">{{ profesor.datos_personales.RUT }}</label>
		
		<label class="col-sm-3 form-control-static">Sexo {{ profesor.datos_personales.sexo}}</label>
		
		<label class="col-sm-2 control-label">Estado Civil</label>
		<label class="col-sm-3 form-control-static">{{ profesor.datos_personales.estado_civil }}</label>
	</div>
	
	<div class="form-group">
		<label class="col-sm-2 control-label">Nacionalidad</label>
		<label class="col-sm-4 form-control-static">{{ profesor.datos_personales.nacionalidad }}</label>
		
		<label class="col-sm-3 control-label">Fecha de Nacimiento</label>
		<div class="col-sm-3">
			<label class="col-xs-3 form-control-static">{{ profesor.datos_personales.fecha.dia }}</label>
			<label class="col-xs-5 form-control-static">{{ profesor.datos_personales.fecha.mes }}</label>
			<label class="col-xs-4 form-control-static">{{ profesor.datos_personales.fecha.ano }}</label>
		</div>
	</div>
	
	<div class="form-group">
		<label class="col-sm-2 control-label">Domicilio</label>
		<label class="col-sm-4 form-control-static">{{ profesor.datos_personales.domicilio }}</label>
	
		<label class="col-sm-3 control-label">Comuna</label>
		<label class="col-sm-3 form-control-static">{{ profesor.datos_personales.comuna }}</label>
	</div>
	
	<div class="form-group">
		<label class="col-sm-2 control-label">Teléfono fijo</label>
		<label class="col-sm-3 form-control-static">{{ profesor.datos_personales.telefono_fijo }}</label>
		
		<label class="col-sm-1 control-label">Móvil</label>
		<label class="col-sm-3 form-control-static">{{ profesor.datos_personales.telefono_movil }}</label>
	</div>
	
	<div class="form-group">
		<label class="col-sm-2 control-label">Email</label>
		<label class="col-sm-4 form-control-static">{{ profesor.datos_personales.email }}</label>
		
		<label class="col-sm-2 control-label">Email alternativo</label>
		<label class="col-sm-4 form-control-static">{{ profesor.datos_personales.email_alt }}</label>
	</div>
	
	<div class="form-group">
		<label class="col-sm-2 control-label">Skype</label>
		<label class="col-sm-4 form-control-static">{{ profesor.datos_personales.skype }}</label>
		
		<label class="col-sm-6 control-label">Tiene empleo actualmente?  {{ profesor.datos_personales.tiene_empleo }}</label>
	</div>
	
	<fieldset>
		<legend>Redes Sociales</legend>
		
		<div class="form-group">
			<label class="col-sm-1 control-label">Facebook</label>
			<label class="col-sm-5 form-control-static">{{ profesor.datos_personales.facebook }}</label>
			
			<label class="col-sm-1 control-label">Google+ </label>
			<label class="col-sm-5 form-control-static">{{ profesor.datos_personales.google_plus }}</label>
		</div>
		
		<div class="form-group">
			<label class="col-sm-1 control-label">Twitter </label>
			<label class="col-sm-5 form-control-static">{{ profesor.datos_personales.twitter }}</label>
			
			<label class="col-sm-1 control-label">LinkedIn</label>
			<label class="col-sm-5 form-control-static">{{ profesor.datos_personales.linkedIn }}</label>
		</div>
	</fieldset>
</form>
