<form class="form-horizontal" role="form">
	<!-- header -->
	<!-- repeat -->
	<div class="form-group panel panel-info" ng-repeat="item in profesor.experiencia_colegios">
		<div class="col-sm-4">
			<label class="control-label">{{item.comuna}}</label>
		<br><label class="control-label">{{item.nombre}}</label>
		<br><label class="control-label">{{item.cargo}}</label>
		</div>
		
		<div class="col-sm-5">
			<label class="form-control-static">{{item.descripcion}}</label>
		</div>
		
		<div class="col-sm-2 text-right">
			<label class="control-label">{{item.inicio  | date:'MM-yyyy'}}</label>
		<br><label class="control-label">{{item.termino | date:'MM-yyyy'}}</label>
		</div>
		
		<div class="col-sm-1 text-right">
			<!--label class="control-label">
				<button class="btn btn-danger" ng-click="form.delete(item.id)" />
					<span class="glyphicon glyphicon-trash"></span>
				</button>
			</label-->
		</div>
	</div>

</form>
