<form class="form-horizontal" role="form">
	<!-- header -->
	<div class="form-group">
		<label class="col-sm-2 control-label">Tipo</label>
		<label class="col-sm-3 control-label">Institución</label>
		<label class="col-sm-3 control-label">Título Postgrado</label>
		<label class="col-sm-1 control-label">Término</label>
		<label class="col-sm-2 control-label">Situación Final</label>
	</div>
	
	<!-- repeat -->
	<div class="form-group" ng-repeat="item in profesor.formacion_postgrado">
		<label class="col-sm-5 control-label">{{item.institucion}}</label>
		<label class="col-sm-3 control-label">{{item.postgrado}}</label>
		<label class="col-sm-1 control-label">{{item.anno}}</label>
		<label class="col-sm-2 control-label">{{item.situacion_final}}</label>
		
		<div class="col-sm-1">
			<!--button class="btn btn-sm btn-danger" ng-click="form.delete(item.id)" /><span class="glyphicon glyphicon-trash"></span></button-->
		</div>
	</div>
</form>
