<form class="form-horizontal" role="form">
	<!-- header -->
	<div class="form-group">
		<label class="col-sm-2 control-label">Enseñanza</label>
		<label class="col-sm-3 control-label">Comuna</label>
		<label class="col-sm-5 control-label">Colegio</label>
		<label class="col-sm-1 control-label">Término</label>
	</div>
	
	<!-- repeat -->
	<div class="form-group" ng-repeat="item in profesor.formacion_escolar">
		<label class="col-sm-2 control-label">{{item.tipo}}</label>
		<label class="col-sm-3 control-label">{{item.comuna}}</label>
		<label class="col-sm-5 control-label">{{item.nombre}}</label>
		<label class="col-sm-1 control-label">{{item.anno}}</label>
		
		<div class="col-sm-1">
			<!--button class="btn btn-sm btn-danger" ng-click="form.delete(item.id)" /><span class="glyphicon glyphicon-trash"></span></button-->
		</div>
	</div>
</form>
