<form class="form-horizontal" role="form">
	<fieldset>
		<legend>CONDICIONES DE EMPLEO</legend>
		
		<div class="form-group">
			<label class="col-sm-2 control-label">Disponibilidad</label>
			<label class="col-sm-2 form-control-static">{{ profesor.intereses.disponibilidad }}</label>
			<span ng-hide="profesor.intereses.disponibilidad=='inmediata'">
				<label class="col-sm-1 control-label">Desde</label>
				<label class="col-sm-3 form-control-static">{{ profesor.intereses.desde.dia }}/{{ profesor.intereses.desde.mes }}/{{ profesor.intereses.desde.ano }}</label>
			</span>
			<span ng-show="profesor.intereses.disponibilidad=='periodo'">
				<label class="col-sm-1 control-label">Hasta</label>
				<label class="col-sm-3 form-control-static">{{ profesor.intereses.hasta.dia }}/{{ profesor.intereses.hasta.mes }}/{{ profesor.intereses.hasta.ano }}</label>
			</span>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label">Zonas Geográficas</label>
			<label class="col-sm-2 form-control-static">{{ profesor.intereses.zonas_geograficas }}</label>
			<div class="col-sm-8 form-control-static" ng-show="profesor.intereses.zonas_geograficas=='regiones'">
				<label class="label label-default" ng-repeat="region in profesor.intereses.regiones">{{ region.region }}</label>
			</div>
			<div class="col-sm-8 form-control-static" ng-show="profesor.intereses.zonas_geograficas=='comunas'">
				<label class="label label-default" ng-repeat="comuna in profesor.intereses.comunas">{{ comuna.comuna }}</label>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label">Remuneración</label>
			<label class="col-sm-2 control-label">Cantidad de horas</label>
			<label class="col-sm-1 form-control-static">{{ profesor.intereses.cantidad_horas }}</label>
			<label class="col-sm-7">
				<div class="row">
					<label class="col-sm-3 control-label">Valor hora desde</label>
					<label class="col-sm-3 form-control-static">{{ profesor.intereses.valor_hora_desde }}</label>
					<label class="col-sm-3 control-label">Sueldo mensual</label>
					<label class="col-sm-3 form-control-static">{{ profesor.intereses.sueldo_mensual_desde }}</label>
				</div>
			</label>
		</div>
	</fieldset>
	
	<fieldset>
		<legend>TIPOS DE EMPLEO</legend>
		
		<div class="form-group">
			<label class="col-sm-2 control-label">Profesor de Aula</label>
			<label class="col-sm-2 control-label">Asignaturas</label>
			<div class="col-sm-8 form-control-static">
				<label class="label label-default" ng-repeat="asignatura in profesor.intereses.asignaturas">&nbsp;{{ asignatura.asignatura }}&nbsp;</label>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label"></label>
			<label class="col-sm-2 control-label">Niveles</label>
			<div class="col-sm-8 form-control-static">
				<label class="label label-default" ng-repeat="nivel in profesor.intereses.niveles">&nbsp;{{ nivel.nivel }}&nbsp;</label>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-4 control-label">Otras funciones en Colegio</label>
			<div class="col-sm-8 form-control-static">
				<label class="label label-default" ng-repeat="cargo in profesor.intereses.empleos">&nbsp;{{ cargo.cargo }}&nbsp;</label>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label">Reemplazos:</label>
			<label class="col-sm-4 form-control-static">
				<span ng-repeat="dia in reemplazos">
					<input type="checkbox" disabled ng-checked="profesor.intereses.reemplazos.indexOf(dia) > -1" />&nbsp;{{dia}} 
				</span>
			</label>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label">Clases particulares:</label>
			<label class="col-sm-3 form-control-static">
				<span ng-repeat="dia in clases_particulares">
					<input type="checkbox" disabled ng-checked="profesor.intereses.clases_particulares.indexOf(dia) > -1" />&nbsp;{{dia}} 
				</span>
			</label>
			<label class="col-sm-2 control-label">Asignaturas</label>
			<div class="col-sm-5 form-control-static">
				<label class="label label-default" ng-repeat="asignatura in profesor.intereses.asig_clases_part">&nbsp;{{ asignatura.asignatura }}&nbsp;</label>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label">Trabajo en una ATE:</label>
			<div class="col-sm-10 form-control-static">
				<label class="label label-default" ng-repeat="ATE in profesor.intereses.ATEs">&nbsp;{{ ATE.especificacion }}&nbsp;</label>
			</div>
		</div>
	</fieldset>
</form>
