<div class="row">
	<div class="col-xs-11">
		<div class="panel panel-primary">
			<div class="panel-heading"><h3 class="panel-title">Datos Personales</h3></div>
			<div class="panel-body" ng-include="'views/admin/profesor/datos_personales.html'"></div>
			<div class="panel-heading"><h3 class="panel-title">Formación Escolar</h3></div>
			<div class="panel-body" ng-include="'views/admin/profesor/formacion_escolar.html'"></div>
			<div class="panel-heading"><h3 class="panel-title">Formación Profesional</h3></div>
			<div class="panel-body" ng-include="'views/admin/profesor/formacion_profesional.html'"></div>
			<div class="panel-heading"><h3 class="panel-title">Formación Postgrado</h3></div>
			<div class="panel-body" ng-include="'views/admin/profesor/formacion_postgrado.html'"></div>
			<div class="panel-heading"><h3 class="panel-title">Experiencia en Colegios</h3></div>
			<div class="panel-body" ng-include="'views/admin/profesor/experiencia_colegios.html'"></div>
			<div class="panel-heading"><h3 class="panel-title">Otras Experiencias</h3></div>
			<div class="panel-body" ng-include="'views/admin/profesor/experiencia_otras.html'"></div>
			<div class="panel-heading"><h3 class="panel-title">Intereses</h3></div>
			<div class="panel-body" ng-include="'views/admin/profesor/intereses.html'"></div>
		</div>					
	</div>
</div>
