<form class="form-horizontal" name="form" role="form" novalidate>
	<fieldset>
		<legend>Datos Personales</legend>
		
		<div class="form-group">
			<label class="col-sm-3 col-lg-2 control-label">Nombres</label>
			<div class="col-sm-3 col-lg-2">
				<input class="form-control" type="text" required ng-model="cv.nombres"    ng-pattern="/^[A-Za-z áéíóúñÁÉÍÓÚÑ]+$/" name="Nombres" 
					mask="D" mask-repeat="20" mask-restrict="reject" mask-validate="false"
				/>
			</div>
			<label class="col-sm-1 control-label">Apellido<br />Paterno</label>
			<div class="col-sm-3 col-lg-2">
				<input class="form-control" type="text" required ng-model="cv.apellidos"  ng-pattern="/^[A-Za-z áéíóúñÁÉÍÓÚÑ]+$/" name="Apellidos" 
					mask="D" mask-repeat="20" mask-restrict="reject" mask-validate="false"
				/>
			</div>
			<label class="col-sm-1">(*)</label>
		</div>

		<div class="form-group">
			<div class="col-sm-3 col-lg-2"></div><div class="col-sm-3 col-lg-2"></div>
			<label class="col-sm-1 control-label">Apellido<br />Materno</label>
			<div class="col-sm-3 col-lg-2">
				<input class="form-control" type="text"          ng-model="cv.apellido_m" ng-pattern="/^[A-Za-z áéíóúñÁÉÍÓÚÑ]+$/" 
					mask="D" mask-repeat="20" mask-restrict="reject" mask-validate="false"
				/>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-3 col-lg-2 control-label">RUT</label>
			<div class="col-sm-2">
				<input class="form-control" type="text" name="rut"
					ng-model="cv.RUT" ui-mask="99.999.999-*" ng-change="validaRut(cv.RUT)"
					ng-blur="rut.check(cv.RUT)"
					tooltip="{{ form.rut.errorMsg }}" tooltip-trigger="blur" />
			</div>
			<label class="col-sm-5 form-control-static" ng-hide="rut.available">
				Ya tienes un usuario creado en mundoprofes.com. <a href="/#/forgot">Recupera tu contraseña</a>
			</label>
		</div>

		<div class="form-group">
			<label class="col-sm-3 col-lg-2 control-label">Email</label>
			<div class="col-sm-4 col-md-3 col-lg-2">
				<input class="form-control" type="email" required ng-model="cv.email"	  ng-pattern="/^[A-Za-z0-9._%+-]+@[A-Za-z]+\.[A-Za-z.]{2,}$/"
					ng-blur="email.check(cv.email)" ng-disabled="cv.id" name="Email"
				/>
			</div>
			<label class="col-sm-1" ng-show="email.available">(*)</label>
			<label class="col-sm-4 col-md-5 form-control-static" ng-hide="email.available">
				Ya tienes un usuario creado en mundoprofes.com. <a href="/#/forgot">Recupera tu contraseña</a>
			</label>
		</div>

		<div class="form-group">
			<label class="col-sm-3 col-lg-2 control-label">Comuna de Residencia</label>
			<div class="col-sm-4 col-md-3 col-lg-2">
				<tags-input-wrapper model="cv.comunas" text="comuna" uri="comunas" name="Comuna" placeholder="___"
					min-tags="1" max-tags="1"
				/>
			</div>
			<!-- <comuna class="col-sm-4 col-md-3 col-lg-2" id="cv.id_comuna" on-update="updateComuna(id, id_region)" /> -->
			<label class="col-sm-1">(*)</label>
		</div>

		<div class="form-group">
			<label class="col-sm-3 col-lg-2 control-label">Móvil</label>
			<div class="col-sm-2">
				<input class="form-control" type="text" required ng-model="cv.telefono_movil" ui-mask="99 999-9999" name="Movil" />
			</div>
			<label class="col-sm-1">(*)</label>
		</div>
	</fieldset>
	
	<fieldset>
		<legend>Datos Profesionales</legend>

		<div class="form-group">
			<label class="col-sm-3 col-lg-2 control-label">Título Profesional</label>
			<div class="col-sm-4">
				<tags-input-wrapper model="cv.profesiones" text="profesion" uri="general/profesiones" min-tags="1" name="Profesiones" placeholder="___"
					add-from-autocomplete-only="false"
				/>
			</div>
			<label class="col-sm-1">(*)</label>
		</div>
		
		<div class="form-group">
			<label class="col-sm-3 col-lg-2 control-label">Años de Experiencia</label>
			<div class="col-sm-2">
				<select class="form-control" required ng-model="cv.cv_experiencia" name="Experiencia"
					ng-options="value for value in cv.options.cv_experiencia">
				</select>
			</div>
			<label class="col-sm-1">(*)</label>
		</div>
		
		<div class="form-group">
			<label class="col-sm-3 col-lg-2 control-label">Tiene empleo actualmente?</label>
			<div class="col-sm-2">
				<select class="form-control" ng-model="cv.tiene_empleo" ng-options="value for value in cv.options.tiene_empleo"></select>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-3 col-lg-2 control-label">Adjuntar CV</label>
			<div class="col-sm-4 col-md-3">
				<input type="hidden" name="CV"  ng-model="files[0]" required />
				<div class="btn btn-block" ng-class="{'btn-warning': files[0]==undefined, 'btn-default': files[0]!=undefined }"
						ngf-select ngf-max-size="2048000" ngf-change="upload($files)">
					<span ng-hide="files.length">(2 MB máximo)</span>
					<span ng-show="files.length">{{ files[0].name }}</span>
					&nbsp;
				</div>
			</div>
			<label class="col-sm-1">(*)</label>
			
			<div class="col-sm-2 col-lg-3">
				<div class="progress" ng-show="progressPercentage > 0">
					<div class="progress-bar" role="progressbar" style="width: {{ progressPercentage }}%;"
							aria-valuemin="0" aria-valuenow="{{ progressPercentage }}" aria-valuemax="100">
						{{ progressPercentage }}%
					</div>
				</div>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-3 col-lg-2 control-label">Observaciones</label>
			
			<div class="col-sm-7">
				<textarea class="form-control" ng-model="cv.cv_comentarios" 
					placeholder="Indicar comentarios y/o experiencias laborales relevantes">
				</textarea>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-3 col-lg-2 control-label">(*) CAMPOS OBLIGATORIOS</label>

			<div class="col-sm-7">
				<div class="alert alert-warning" ng-show="(status=='errors' && form.$invalid)">
					<p class="h4">Por favor completar los siguientes campos obligatorios:</p>
					
					<label class="control-label" ng-repeat="(key, errors) in form.$error track by $index">
						<label ng-repeat="e in errors" class="badge" style="background-color: #DD0000; margin-left: 0.5em; margin-right: 0.5em;">{{ e.$name }}</label>
					</label>
				</div>
				
				<div class="text-center">
					<button class="btn" 
							ng-class="{'btn-warning': form.$pristine || form.$invalid, 'btn-success': form.$dirty && form.$valid && status!='saving', 'btn-default': status=='saving'}" 
							ng-click="post()">
						Guardar
					</button>
				</div>
			</div>
		</div>
	</fieldset>
</form>
