<div class="input-group">
	<input class="form-control" type="text" ng-model="$ctrl.model" required 
		uib-datepicker-popup datepicker-options="$ctrl.options" is-open="$ctrl.opened"
	/>
	
	<span class="input-group-btn">
		<button class="btn btn-default" type="button" ng-click="$ctrl.open($event)">
			<i class="glyphicon glyphicon-calendar"></i>
		</button>
	</span>
</div>
