<style>
	#instrucciones > h2,
	#instrucciones > h3 {
		color: gray;
		font-family: Pacifico;
		margin-bottom: 0;
	}
	h3.alert { margin-top: 0; }
</style>

<div class="row">
	<div class="col-md-4 hidden-xs hidden-sm" id="instrucciones">
		<h3>Ingrese si ya está inscrito...</h3>
		<p class="row">
			<div class="col-xs-6">
				<img class="img-responsive" src="images/curved_arrow_blue_downleft.png" alt="Flecha hacia abajo a la izquierda" />
			</div>
			<div class="col-xs-6">
				<img class="img-responsive" src="images/curved_arrow_pink_upright.png" alt="Flecha hacia arriba a la derecha" />
			</div>
		</p>
		<h3 class="text-right">...inscríbase si no lo está.</h3>
	</div>

	<div class="col-md-8">
		<div class="row">
			<div class="col-sm-8">
				<h3 class="alert alert-warning text-center">Inscripción Profesor</h3>
				
				<div class="row">
					<div class="col-xs-3">
						<img class="img-responsive disabled" src="images/profe.jpg" alt="icono profe">
					</div>			
					
					<div class="col-xs-9">
						<signup-profesor on-update="$ctrl.signupSuccessful(response)" />
					</div>
				</div>
			</div>
			
			<div class="col-sm-4">
				<h3 class="alert alert-warning text-center">Colegios</h3>
				
				<div class="row">
					<a ui-sref="v.signup2">
						<img class="col-xs-offset-5 col-xs-2 col-sm-offset-3 col-sm-6 img-responsive" src="images/colegio.jpg" alt="icono colegio" />
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<h4 class="lead text-center">Si desea saber más contactanos a <a href="mailto:info@mundoprofes.cl">info@mundoprofes.cl</a></h4>
</div>
