<table class="table table-striped table-hover">
	<thead>
		<tr><th colspan="4">
				{{ $ctrl.id_role }}
			</th>
		</tr>
	</thead>
</table>

<style>
	.glyphicon-plus-sign  { color: GREEN; }
	.glyphicon-minus-sign { color: RED; }
</style>

<table class="table table-striped table-hover">
	<thead>
		<tr><th>RBD</th>
			<th>Colegio</th>
			<td>Comuna</td>
			<td>Dependencia</td>
		</tr>
	</thead>
	
	<tbody>
		<tr ng-repeat="item in $ctrl.list" ng-class="{
						'danger':  item.id_role!=undefined && item.id_role!=$ctrl.idRole, 
						'warning': item.id_role==$ctrl.idRole,
					}">
			<td>{{ item.id }}</td>
			<td>{{ item.nombre }}</td>
			<td>{{ item.comuna }}</td>
			<td>{{ item.dependencia }}</td>
			<td><a ng-click="$ctrl.swap(item)">
					<span class="glyphicon" ng-class="{
						'glyphicon-plus-sign':  item.id_role==undefined, 
						'glyphicon-minus-sign': item.id_role==$ctrl.idRole,
					}"></span>
				</a>
			</td>
		</tr>
	</tbody>
</table>
