<style>
	tbody > tr { cursor: pointer; }
</style>

<h3 class="text-center">Vendedores y Colegios</h3>

<table class="table table-striped table-hover">
	<thead>
		<tr><th>Email</th>
			<td>Nombres</td>
			<td>Apellidos</td>
			<td>Rol</td>
			<td></td>
			<td></td>
		</tr>
		<tr class="warning">
			<th><typeahead-wrapper uri="supervisor/usuarios" text="email" placeholder="Buscar por email"
					ng-model="$ctrl.user.id" on-update="$ctrl.select(item)"
					ng-pattern="/^[A-Za-z0-9._%+-]+@[A-Za-z]+\.[A-Za-z.]+$/" />
			</th>
			<td><label class="form-control-static">{{ $ctrl.user.nombres }}</label></td>
			<td><label class="form-control-static">{{ $ctrl.user.apellidos }}</label></td>
			<td><label class="form-control-static">{{ $ctrl.user.role }}</label></td>
			<td></td>
			<td><button class="btn btn-sm btn-success" ng-click="$ctrl.save()"><span class="glyphicon glyphicon-plus"></span></button></td>
		</tr>
	</thead>
	
	<tbody>
		<tr ng-repeat="item in $ctrl.list" ng-click="$ctrl.open(item)">
			<td>{{ item.email }}</td>
			<td>{{ item.nombres }}</td>
			<td>{{ item.apellidos }}</td>
			<td><span class="fa" ng-class="{'fa-user': item.role=='vendedor', 'fa-eye': item.role=='supervisor' }" title="{{ item.role }}"></span></td>
			<td>{{ item.creador }}</td>
			
			<td ng-show="item.colegios"><button class="btn btn-sm"><span class="badge">{{ item.colegios }}</span></button></td>
			<td ng-hide="item.colegios"><button class="btn btn-sm btn-danger" ng-click="$ctrl.kill(item); $event.stopPropagation();"><span class="glyphicon glyphicon-minus"></span></button></td>
		</tr>
	</tbody>
</table>
