<h3 class="col-sm-8">Mis Compras</h3>
<h3 class="col-sm-4 text-right">
	<a class="btn btn-success" href="" ng-click="$ctrl.onSelect({ response: 'ver Productos' })">Comprar</a>
</h3>

<table class="table table-striped table-hover">
	<thead>
		<tr><th>Compra</th>
			<th>Producto</th>
			<th>Estado</th>
			<th>Fecha</th>
			<th>Operación</th>
			<th>Nro.</th>
		</tr>
	</thead>
	
	<tbody>
		<tr ng-if="list.length==0">
			<td colspan="6">
				<p class="lead">No ha realizado compras aún. Toque [Comprar] para poder publicar Avisos.</p>
			</td>
		</tr>
		
		<tr ng-repeat="item in $ctrl.list" ng-class="{'danger': item.estado=='pendiente', 'success': item.estado=='verificado' }">
			<td>{{ item.id }}</td>
			<td>{{ item.producto.nombre }}</td>
			<td>{{ item.estado }}</td>
			<td>{{ item.pago_fecha }}</td>
			<td>{{ item.pago_forma }}</td>
			<td>{{ item.pago_id }}</td>
		</tr>
	</tbody>
</table>
