<div class="col-sm-8">
	<p class="lead">{{ $ctrl.item.nombre }}</p>
	
	<form class="form-horizontal" name="form" ng-submit="form.$dirty && form.$valid && $ctrl.save($ctrl.item)">
		<fieldset>
			<label class="control-label">Medios de Pago</label>
			
			<div class="input-group">
				<label class="input-group-addon">
					<input name="pago_forma" type="radio" ng-model="$ctrl.item.pago_forma" required value="transferencia"> Transferencia Electrónica
				</label>
				
				<label class="input-group-addon">
					<input name="pago_forma" type="radio" ng-model="$ctrl.item.pago_forma" required value="deposito"     > Depósito en Banco
				</label>
				
				<label class="input-group-addon">
					<input name="pago_forma" type="radio" ng-model="$ctrl.item.pago_forma" required value="webpay"       > WebPay
				</label>
			</div>
		</fieldset>
		<br>
		<fieldset ng-if="$ctrl.item.pago_forma=='webpay'">
			<a class="btn btn-sm btn-block btn-default" href="http://www.mundoprofes.com/colegios/webpay/send?id_colegio={{ $ctrl.colegio }}&id_producto={{ $ctrl.producto }}"
				ng-class="{'btn-warning': $ctrl.item.pago_forma=='webpay' }"
				ng-disabled="$ctrl.status!='submit'">
				Abrir WebPay
			</a>
		</fieldset>
	
		<fieldset ng-if="$ctrl.item.pago_forma!='webpay'">
			<div class="input-group">
				<label class="input-group-addon">Transacción Nro.</label>
				<input class="form-control" type="text" required ng-model="$ctrl.item.pago_id" pattern="[0-9\-]{5,}">
				<label class="input-group-addon">Fecha</label>
				<datepicker model="$ctrl.item.pago_fecha"></datepicker>
				<div class="input-group-btn">
					<button class="btn btn-default" type="submit" 
						ng-class="{ 'btn-success': form.$dirty && form.$valid }"
						ng-disabled="!(form.$dirty && form.$valid) && $ctrl.status!='submit'">
						Confirmar
					</button>
				</div>
			</div>
			<br>
			<pre ng-if="$ctrl.status=='submit'">
Datos para Transferencia o Depósitos
Nombre: Asesorias Mundoprofes Limitada
RUT: 76.504.559-2
Banco: Banco Estado
Tipo de cuenta: Cuenta Vista
Nº de cuenta: 34770922447
Correo: pagos@mundoprofes.com
Asunto: indicar RBD o nombre del colegio / Tipo de servicio
			</pre>
				
			<p class="lead" ng-if="$ctrl.status=='created'">
				Su compra ha sido registrada y está Pendiente de verificación.
				<br>
				<a ui-sref="^.compras({ id_colegio: $ctrl.colegio })"><span class="glyphicon glyphicon-arrow-left"></span> volver a Mis Compras</a>
			</p>
		</fieldset>
	
		<fieldset ng-show="$ctrl.status=='processing'">
			<uib-progressbar class="progress-striped active" value="100" type="info">
				Procesando...
			</uib-progressbar>
		</fieldset>
	</form>
</div>
