<style>
	@import url("/views/colegios/compras/productos.css");
</style>

<div class="row">
	<div class="col-xs-12 col-sm-4" ng-repeat="item in $ctrl.list" ng-show="item.id <= 3">
		<div class="panel panel-primary">
			<!-- <div class="cnrflash" ng-if="$index==1">
				<div class="cnrflash-inner">
					<span class="cnrflash-label">RECOMENDADO</span>
				</div>
			</div> -->
			
			<div class="panel-heading">
				<h3 class="panel-title">{{ item.nombre }}</h3>
			</div>
			
			<div class="panel-body">
				<table class="table table-hover">
					<tr><td>{{ item.descripcion }}</td></tr>
					
					<tr><td><a href="" ng-click="$ctrl.text(item.wp__get_post)">Ver +</a></td></tr>
					<!-- <tr><td><a ui-sref="colegios.producto({ id: item.id })">Ver +</a></td></tr> -->
					
					<tr class="bg-success">
						<td ng-if="item.detl.length">Págalo y Actívalo on line</td>
						<td ng-if="item.detl.length==0">Te visitamos</td>
					</tr>
					
					<tr ng-repeat="detl in item.detl">
						<td>
							<label>
								<input type="radio" ng-value="detl.id" ng-model="$ctrl.id_producto"> {{ detl.nombre }}
							</label>
						</td>
					</tr>
					
					<tr class="bg-warning">
						<td ng-if="item.detl.length">
							<a class="btn" ng-class="{'btn-success': $ctrl.inSet(item.detl) }" ng-click="$ctrl.checkout($ctrl.id_producto)">Comprar</a>
						</td>
						<td ng-if="item.detl.length==0">
							<a class="btn btn-warning" ui-sref="^.contacto">Contáctanos</a>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>	
</div>

<div class="row">
	<div class="col-xs-12 col-sm-10">
		<p class="alert alert-success lead text-center">¿Quieres acceder a un plan corporativo? comunícate a ventas@mundoprofes.com</p>
	</div>
</div>