<div class="panel panel-info">
	<div class="panel-heading">
		<h3 class="panel-title">{{ $ctrl.title }}</h3>
	</div>
	
	<div class="panel-body">
		<div class="text-left" ng-bind-html="$ctrl.content"></div>
	</div>
</div>
