<div class="col-md-10 text-center">
	<section ng-if="$ctrl.result=='verificado'">
		<h1><span class="fa fa-check" style="color: GREEN;"></span></h1>
		<p>Tu compra ha finalizado exitosamente.</p>
		<p>Tu aviso ya está disponible. Para publicarlo debes ir al menú <a href="#/colegios/{{ $ctrl.colegio }}/avisos">Mis Avisos</a> en tu cuenta.</p>
		<p></p>
		<p>Para dudas o consultas envíanos un email a <a href=""mailto://postventa@mundoprofes.com>postventa@mundoprofes.com</a></p>
		<p>Gracias por tu compra.</p>
		
		<form class="form-horizontal alert alert-success text-left">
			<fieldset>
				<legend>Número de Orden de Compra: {{ $ctrl.item.TBK_ORDEN_COMPRA }}</legend>
				
				<div class="col-xs-6">
					<p>Monto de la Transacción: <label class="control-label">{{ $ctrl.item.TBK_MONTO / 100 | currency }}</label></p>
					<p>Código de Autorización : <label class="control-label">{{ $ctrl.item.TBK_CODIGO_AUTORIZACION    }}</label></p>
					<p>Fecha de la Transacción: <label class="control-label">{{ $ctrl.item.TBK_FECHA_TRANSACCION      }}</label></p>
					<p>Hora de la Transacción : <label class="control-label">{{ $ctrl.item.TBK_HORA_TRANSACCION       }}</label></p>
				</div>
				
				<div class="col-xs-6">
					<br>
					<p>Número de Cuotas: <label class="control-label">{{ $ctrl.item.TBK_NUMERO_CUOTAS                }}</label></p>
					<p>Tipo de Pago    : <label class="control-label">{{ $ctrl.tipoDePago[$ctrl.item.TBK_TIPO_PAGO]  }}</label></p>
					<p>Tipo de Cuota   : <label class="control-label">{{ $ctrl.tipoDeCuota[$ctrl.item.TBK_TIPO_PAGO] }}</label></p>
				</div>
			</fieldset>
		</form>
	</section>

	<section ng-if="$ctrl.result=='rechazado'">
		<h1><span class="fa fa-warning" style="color: RED;"></span></h1>
		<p>Tu compra no se finalizó.</p>
		<p>Por favor verifica tu medio de pago.</p>
		<p></p>
		<p>Para dudas o consultas envíanos un email a <a href=""mailto://postventa@mundoprofes.com>postventa@mundoprofes.com</a></p>
		
		<form class="form-horizontal alert alert-danger">
			<fieldset>
				<legend>Transacción Rechazada</legend>
				
				<legend>Número de Orden de Compra: {{ $ctrl.item.TBK_ORDEN_COMPRA }}</legend>
				
				<div class="col-sm-8 col-sm-offset-2 text-left">
					<ul class="list-group">
						<li class="list-group-item disabled">Las posibles causas de este rechazo son:</li>
						<li class="list-group-item">Error en el ingreso de los datos de su tarjeta (fecha  y/o código de seguridad).</li>
						<li class="list-group-item">Su tarjeta no cuenta con saldo suficiente.</li>
						<li class="list-group-item">Tarjeta aun no habilitada en el sistema financiero.</li>
					</ul>
				</div>
			</fieldset>
		</form>
	</section>
</div>
