<form class="form-horizontal" name="form" role="form" novalidate>
	<fieldset>
		<legend>Datos Personales</legend>
		
		<div class="form-group">
			<label class="col-sm-2 control-label">RUT</label>
			<div class="col-sm-2">
				<input class="form-control" type="text" name="rut"
					ng-model="cv.RUT" ui-mask="99.999.999-*" ng-change="validaRut(cv.RUT)"
					tooltip="{{ form.rut.errorMsg }}" tooltip-trigger="blur" />
			</div>

			<div class="col-sm-1"></div>

			<label class="col-sm-1 control-label">Email</label>
			<div class="col-sm-3">
				<input class="form-control" type="email" required ng-model="cv.email"	  ng-pattern="/^[A-Za-z0-9._%+-]+@[A-Za-z]+\.[A-Za-z.]{2,}$/"
					ng-blur="email.check()" ng-disabled="cv.id"
				/>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label">Nombres</label>
			<div class="col-sm-3">
				<input class="form-control" type="text" required ng-model="cv.nombres"    ng-pattern="/^[A-Za-z áéíóúñÁÉÍÓÚÑ]+$/" />
			</div>

			<label class="col-sm-1 control-label">Apellidos</label>
			<div class="col-sm-3">
				<input class="form-control" type="text" required ng-model="cv.apellidos"  ng-pattern="/^[A-Za-z áéíóúñÁÉÍÓÚÑ]+$/" />
			</div>
			<div class="col-sm-3">
				<input class="form-control" type="text"          ng-model="cv.apellido_m" ng-pattern="/^[A-Za-z áéíóúñÁÉÍÓÚÑ]+$/" />
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label">Comuna de Residencia</label>
			<div class="col-sm-3">
				<tags-input-wrapper model="cv.comunas" text="comuna" uri="comunas" placeholder="Comuna (1)" min-tags="1" max-tags="1"
					on-update="$ctrl.updated('comunas')" />
			</div>

			<label class="col-sm-1 control-label">Móvil</label>
			<div class="col-sm-2">
				<input class="form-control" type="text" required ng-model="cv.telefono_movil" ui-mask="99 999-9999" />
			</div>
		</div>
	</fieldset>
	
	<fieldset>
		<legend>Datos Profesionales</legend>

		<div class="form-group">
			<label class="col-sm-2 control-label">Profesiones</label>
			<div class="col-sm-4">
				<tags-input-wrapper model="cv.profesiones" text="profesion" uri="general/profesiones" placeholder="Profesiones"
					add-from-autocomplete-only="false"
					on-update="$ctrl.updated('profesiones', { tagAdded: tagAdded, tagRemoved: tagRemoved })" 
				/>
			</div>
			
			<label class="col-sm-1 control-label">Años de Experiencia</label>
			<div class="col-sm-2">
				<select class="form-control" required ng-model="cv.cv_experiencia" ng-options="value for value in cv.options.cv_experiencia"></select>
			</div>
			
			<label class="col-sm-2 control-label">Tiene empleo actualmente?</label>
			<div class="col-sm-1">
				<select class="form-control" required ng-model="cv.tiene_empleo" ng-options="value for value in cv.options.tiene_empleo"></select>
			</div>
		</div>
		
		<div class="form-group" ng-if="cv.id">
			<label class="col-sm-2 control-label">Adjuntar CV</label>
			
			<div class="col-sm-4" ng-if="form.$valid">
				<div class="btn btn-block" ng-class="{'btn-warning': cv.cv==undefined, 'btn-info': cv.cv!=undefined }"
						ngf-select ngf-max-size="2048000" ngf-change="upload($files)">
					<span ng-show="cv.cv">{{ cv.cv }}</span>
					<span ng-hide="cv.cv">Adjuntar CV (2 MB máximo)</span>
					&nbsp;
				</div>
			</div>
			
			<div class="col-sm-4" ng-if="! form.$valid">
				<code class="error-message" type="text">Debe completar todos los campos obligatorios para poder subir el CV</code>
			</div>
			
			<div class="col-sm-6">
				<div class="progress" ng-show="progressPercentage > 0">
					<div class="progress-bar" role="progressbar" style="width: {{ progressPercentage }}%;"
							aria-valuemin="0" aria-valuenow="{{ progressPercentage }}" aria-valuemax="100">
						{{ progressPercentage }}%
					</div>
				</div>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label">Observaciones</label>
			
			<div class="col-sm-10">
				<textarea class="form-control" ng-model="cv.cv_comentarios" 
					placeholder="Indicar comentarios y/o experiencias laborales relevantes">
				</textarea>
			</div>
		</div>

		<div class="form-group text-center">
			<button class="btn btn-default" ng-class="{'btn-success': form.$dirty && form.$valid && status!='saving', 'fa-spin': status=='saving'}" 
					ng-disabled="!(form.$dirty && form.$valid)" ng-click="put()">
				Guardar
			</button>
		</div>
	</fieldset>
</form>
<!--
<formacion-profesional id="cv.id"></formacion-profesional>
<formacion-postgrado   id="cv.id"></formacion-postgrado>
-->