<table class="table table-striped table-hover">
	<caption class="visible-xs-block">Avisos vigentes</caption>
	
	<thead   class="hidden-xs">
		<tr>
			<th>Ref.</th>
			<th>Cargo</th>
			<th>Comuna</th>
			<th>Institución</th>
			<th>Finaliza</th>
			<th>Postularse</th>
		</tr>
	</thead>
	
	<tbody>
		<tr ng-repeat="item in list">
			<td class="visible-xs-block">
				<a ui-sref="profesor.aviso({ id: item.id })">
					<div class="col-xs-3">Ref.: <span class="badge">{{ item.id }}</span></div>
					<div class="col-xs-9">Del {{ item.fecha | date:'dd-MMM-yy' }} al {{ item.vigencia | date:'dd-MMM-yy' }}</div>
					
					<h4  class="col-xs-12"><strong>{{ item.busqueda }}</strong></h4>
					
					<div class="col-xs-3 text-right">Comuna:</div>
					<div class="col-xs-9">{{ item.comuna }}</div>
					
					<div class="col-xs-3 text-right">Institución:</div>
					<div class="col-xs-9">{{ item.institucion }}</div>
				</a>
			</td>
			
			<td class="hidden-xs">{{ item.id }}</td>
			<td class="hidden-xs">{{ item.busqueda }}</td>
			<td class="hidden-xs">{{ item.comuna }}</td>
			<td class="hidden-xs">{{ item.institucion }}</td>
			<td class="hidden-xs">{{ item.vigencia | date:'dd-MMM-yy' }}</td>
			<td class="hidden-xs">
				<a class="btn btn-sm" ng-class="{'btn-success': item.postulantes > 0, 'btn-info': true }"
				 ng-if="isLoggedIn"   ui-sref="profesor.aviso({ id: item.id })">
					Ver Oferta
				</a>
				<a class="btn btn-sm" ng-class="{'btn-success': item.postulantes > 0, 'btn-info': true }"
				 ng-if="! isLoggedIn" ui-sref="v.aviso({ id: item.id })">
					Ver Oferta
				</a>
			</td>
		</tr>
	</tbody>
</table>