<link href='/views/avisos_form.css' rel='stylesheet' type='text/css' />

<form class="form form-horizontal" name="form" role="form" ng-submit="false" novalidate>
	<fieldset>
		<legend></legend>
		
		<div class="col-lg-12">
			<div class="form-group">
				<div class="alert alert-danger" ng-if="$state.current.name!='v.aviso' && ! item.profesor.cv">
					Sube tu CV en 
					<a class="btn btn-default" ui-sref="^.alta-express">Mi Perfil</a> 
					antes de postular a cualquier Aviso
				</div>
				
				<div class="col-xs-12 form-control-static text-right" ng-if="$state.current.name=='v.aviso' || item.profesor.cv">
					<span class="lead">CV: {{ item.profesor.cv }} &nbsp; </span>
					<div class="btn btn-success" ng-if="item.profesor.cv > '' && !item.profesor.postulado" ng-click="save()">Postularse</div>
					<div class="btn btn-danger"  ng-if="item.profesor.cv > '' &&  item.profesor.postulado" ng-click="save()">Retirarse</div>
					
					<a class="btn btn-warning"   ng-if="$state.current.name=='v.aviso'" ui-sref="v.signup">Postularse</a>
				</div>
			</div>
		</div>
	</fieldset>
	
	<fieldset>
		<legend>Aviso</legend>

		<div class="col-lg-6">
			<div class="form-group">
				<div class="col-xs-4 form-control-static">Descripción</div>
				<div class="col-xs-8 form-control-static disabled">{{ item.busqueda }}</div>
			</div>
			<div class="form-group">
				<div class="col-xs-12 disabled">{{ item.descripcion }}</div>
			</div>
		</div>
		
		<div class="col-lg-6">
			<div class="input-group">
				<label class="input-group-addon">Publicado</label>
				<label class="input-group-addon">{{ item.fecha | date:'dd-MMM' }}</label>
				<label class="input-group-addon">Finaliza</label>
				<label class="input-group-addon">{{ item.vigencia | date:'dd-MMM' }}</label>
			</div>
		</div>
	</fieldset>
	
	<ng-include src="'views/_avisos_form.html'"></ng-include>
	
	<fieldset>
		<legend>Compartir este aviso</legend>
		
		<style>
			ul.share-buttons {
			  list-style: none;
			  padding: 0;
			}
			ul.share-buttons li {
			  display: inline;
			}
		</style>
		<ul class="share-buttons">
			<li><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.mundoprofes.com&t=" target="_blank" title="Share on Facebook" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&t=' + encodeURIComponent(document.URL)); return false;"><i class="fa fa-facebook-square fa-2x"></i></a></li>
			<li><a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Fwww.mundoprofes.com&text=:%20http%3A%2F%2Fwww.mundoprofes.com" target="_blank" title="Tweet" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20' + encodeURIComponent(document.URL)); return false;"><i class="fa fa-twitter-square fa-2x"></i></a></li>
			<li><a href="http://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Fwww.mundoprofes.com&title=&summary=&source=http%3A%2F%2Fwww.mundoprofes.com" target="_blank" title="Share on LinkedIn" onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
			<li><a href="mailto:?subject=&body=:%20http%3A%2F%2Fwww.mundoprofes.com" target="_blank" title="Email" onclick="window.open('mailto:?subject=' + encodeURIComponent(document.title) + '&body=' +  encodeURIComponent(document.URL)); return false;"><i class="fa fa-envelope-square fa-2x"></i></a></li>
		</ul>
	</fieldset>
</form>
