<form class="form-horizontal" name="myForm" role="form" ng-submit="myForm.$valid && save()"	novalidate>
	<fieldset>
		<legend>Formación Postgrado</legend>
		
		<!-- header -->
		<div class="form-group">
			<label class="col-sm-1 control-label">Tipo</label>
			<label class="col-sm-4 control-label">Institución</label>
			<label class="col-sm-3 control-label">Título</label>
			<label class="col-sm-1 control-label">Término</label>
			<label class="col-sm-2 control-label">Situación Final</label>
		</div>
		
		<!-- repeat -->
		<div class="form-group" ng-repeat="item in list">
			<label class="col-sm-1 form-control-static">{{item.tipo}}</label>
			<label class="col-sm-4 control-label">{{item.institucion}}</label>
			<label class="col-sm-3 control-label">{{item.postgrado}}</label>
			<label class="col-sm-1 control-label">{{item.anno}}</label>
			<label class="col-sm-2 control-label">{{item.situacion_final}}</label>
			
			<div class="col-sm-1" ng-if="! readonly">
				<button class="btn btn-sm btn-danger" ng-click="delete(item.id)" /><span class="glyphicon glyphicon-trash"></span></button>
			</div>
		</div>
		
		<!-- insert -->
		<div class="form-group bg-success" ng-if="! readonly">
			<div class="col-sm-2">
				<select class="form-control" required ng-model="post.tipo" ng-change="instituciones_x_tipo()">
					<option value="CFT">CFT</option>
					<option value="IP">IP</option>
					<option value="Universidad">Universidad</option>
				</select>
			</div>
			
			<div class="col-sm-3">
				<input class="form-control" type="text" required ng-model="post.institucion" 
					uib-typeahead="institucion.institucion for institucion in instituciones | filter:$viewValue | limitTo:10" 
					typeahead-on-select="post.id_tipo_institucion = $item.id"
					typeahead-editable="true" />
			</div>
			
			<div class="col-sm-3">
				<input class="form-control" type="text" required ng-model="post.postgrado" ng-pattern="/^[A-Za-z áéíóúñ,]{5,99}$/" 
					uib-typeahead="titulo.postgrado for titulo in titulos_postgrado | filter:$viewValue | limitTo:10" 
					typeahead-on-select="post.id_titulo_postgrado = $item.id"
					typeahead-editable="true" />
			</div>
			
			<div class="col-sm-1">
				<div class="row">
					<input class="form-control" type="text" required ng-model="post.anno" ng-pattern="/^[1-2]{1}[0-9]{3}$/" placeholder="Año" />
				</div>
			</div>
			
			<div class="col-sm-2">
				<select class="form-control" required ng-model="post.situacion_final">
					<option value="estudiando">estudiando</option>
					<option value="titulado">titulado</option>
					<option value="egresado">egresado</option>
					<option value="sin finalizar">sin finalizar</option>
				</select>
			</div>
			
			<div class="col-sm-1">
				<button class="btn btn-sm" ng-class="{'btn-success': myForm.$valid }" type="submit"><span class="glyphicon glyphicon-plus"></span></button>
			</div>
		</div>
	</fieldset>
</form>
