<div class="hidden-xs hidden-sm col-md-2" ng-include="'views/menu.v.html'"> Left Menu </div>

<div class="col-md-10 visible-xs-block" ng-show="windowOrientation=='portrait'">
	<section role="main" ui-view>
		<p class="row">
			<div class="col-xs-6">
				<a class="btn btn-block" style="background-color: #4DC9F0;" ui-sref="profesor.avisos">
					<img class="img-responsive" src="images/ofertas.png" alt="Ver Ofertas">
					
					<div class="badge"><h4 class="text-center">Ver Ofertas</h4></div>
				</a>
			</div>
			
			<div class="col-xs-6">
				<a class="btn btn-block" style="background-color: #FCC86E;" ui-sref="profesor.alta-express">
					<img class="img-responsive" src="images/perfil2.png" alt="Edita tu Perfil">
					
					<div class="badge"><h4 class="text-center">Edita tu Perfil</h4></div>
				</a>
			</div>
		</p>
	</section>
</div>

<div class="col-md-10 hidden-xs">
	<ui-view>
		<div ng-bind-html="$ctrl.item.content" />
	</ui-view>
</div>
