<div class="list-group" ng-repeat="role in roles | filter:{ tipo: 'profesor'}">
	<b class="list-group-item list-group-item-info">Profesor</b>
	
	<a class="list-group-item" ui-sref-active="active" ui-sref="profesor.alta-express">Mi Perfil</a>
	<a class="list-group-item" ui-sref-active="active" ui-sref="profesor.avisos">Ofertas de Empleo</a>
</div>
