<form class="form-horizontal" name="form" role="form" novalidate ng-submit="form.$valid && $ctrl.post()" 
		ng-show="$ctrl.signupButtonVisible">
	<button class="btn btn-primary btn-block" type="button" ng-click="$ctrl.auth('facebook')">Inscripción via Facebook</button>
	<button class="btn btn-danger  btn-block" type="button" ng-click="$ctrl.auth('google'  )">Inscripción via Google  </button>
	<button class="btn btn-info    btn-block" type="button" ng-click="$ctrl.auth('linkedin')">Inscripción via LinkedIn</button>
	
	<h5 class="text-center">o por Email:</h5>
	
	<div class="input-group">
		<label class="input-group-addon">@</label>
		
		<input class="form-control" type="email" placeholder="Inscripción via Email" 
			ng-click="$ctrl.signup.error = ''" ng-model="$ctrl.signup.email" ng-pattern="/^[A-Za-z0-9._%+-]+@[A-Za-z]+\.[A-Za-z.]+$/" />
		
		<span class="input-group-btn">
			<button class="btn btn-info btn-success" type="submit" 
					ng-class="{'btn-success': form.$dirty && form.$valid }"
					ng-disabled="$ctrl.signup.email=='' && !(form.$dirty && form.$valid)">
				Enviar
			</button>
		</span>
	</div>
	
	<div ng-show="form.$error.email.length">
		El email no es válido.
	</div>
	
	<div ng-hide="$ctrl.signup.request">
		<label class="control-label-readonly">{{ $ctrl.signup.error }}</label>
	</div>
</form>
