<form>
	<fieldset>
		<legend>Postulantes</legend>
		
		<table class="table table-striped table-hover">
			<thead>
				<tr><th>Nombre</th>
					<th>Email</th>
					<th>Profesión</th>
					<th>Experiencia</th>
					<th class="text-center">Descargar CV</th>
				</tr>
			</thead>
			
			<tbody>
				<tr ng-repeat="item in list">
					<td>{{ item.apellidos }} {{ item.apellido_m }}, {{ item.nombres }}</td>
					<td>{{ item.email }}</td>
					<td>{{ item.profesiones }}</td>
					<td>{{ item.cv_experiencia }}</td>
					<td>
						<a class="btn btn-sm btn-block btn-default" href="colegios/avisos/download?id={{ item.id }}" target="winViewCV">{{ item.cv }}</a>
					</td>
				</tr>
			</tbody>
			
			<tfoot>
			</tfoot>
		</table>
	</fieldset>
</form>

