<link href='/views/avisos_form.css' rel='stylesheet' type='text/css' />

<form class="form form-horizontal" name="form" role="form" ng-submit="form.$valid && save(item)" novalidate>
	<fieldset>
		<legend>
			{{ item.colegio.nombre }} - Aviso 
			<span ng-show="item.id">nro. {{ item.id }}</span>
			<span ng-hide="item.id">nuevo</span>
			&nbsp;
			<input type="checkbox" ng-model="item.confidencial" ng-true-value="1" ng-false-value="0"> confidencial 
		</legend>
		
		<div class="col-lg-6">
			<div class="form-group">
				<div class="col-xs-4"><p class="form-control-static">Descripción</p></div>
				<div class="col-xs-8"><input  class="form-control" type="text" ng-model="item.busqueda"></div>
			</div>
			
			<div class="form-group">
				<div class="col-xs-12"><textarea class="form-control" ng-model="item.descripcion"></textarea></div>
			</div>
		</div>
		
		<div class="col-lg-6">
			<div class="form-group">
				<div class="col-xs-4"><p class="form-control-static">Estado</p></div>
				
				<div class="col-xs-4" ng-show="item.estado=='disponible' || item.estado=='preparado' || item.estado=='rechazado'">
					<select class="form-control" ng-model="item.estado" ng-options="option for option in options.estado"></select>
				</div>
				<div class="col-xs-4" ng-hide="item.estado=='disponible' || item.estado=='preparado' || item.estado=='rechazado'">
					{{ item.estado }}
				</div>
				
				<div class="col-xs-4"ng-show="item.estado=='disponible' || item.estado=='preparado' || item.estado=='rechazado'">
					<input type="submit" class="btn btn-block" value="Guardar" ng-class="{'btn-success': form.$dirty && form.$valid }" />
				</div>
			</div>
			
			<div class="input-group">
				<label class="input-group-addon">Publicado</label>
				<input class="form-control" type="text" ng-model="item.fecha" ng-disabled="item.estado!=='disponible'"
					uib-datepicker-popup="dd-MMM-yyyy" is-open="dp_open_fe" ng-click="dp_open_fe = !dp_open_fe || false" 
					show-weeks="false" current-text="Hoy" clear-text="---" close-text="&times;"
				/>
				
				<label class="input-group-addon">Finaliza</label>
				<input class="form-control" type="text" ng-model="item.vigencia" 
					uib-datepicker-popup="dd-MMM-yyyy" readonly 
				/>
			</div>
		</div>
	</fieldset>
	
	<fieldset>
		<legend></legend>
		<div class="col-lg-6">
			<div class="form-group">
				<div class="col-xs-4"><p class="form-control-static">Títulos (3)</p></div>
				<tags-input-wrapper class="col-xs-8" model="item.titulos" placeholder="Títulos..."
						uri="titulos" text="titulo" add-from-autocomplete-only="false" max-tags="3" />
			</div>
			<div class="form-group">
				<div class="col-xs-4"><p class="form-control-static">Región</p></div>
				<div class="col-xs-8"><select class="form-control" disabled ng-model="item.id_region" ng-options="region.id as region.region for region in regiones"></select></div>
			</div>
			<div class="form-group">
				<div class="col-xs-4"><p class="form-control-static">Comuna</p></div>
				<comuna class="col-xs-8" id="item.id_comuna" on-update="updateComuna(id, id_region)" />
			</div>
			<div class="form-group">
				<div class="col-xs-4"><p class="form-control-static">Experiencia (años)</p></div>
				<div class="col-xs-8"><select class="form-control" ng-model="item.cv_experiencia" ng-options="option for option in options.cv_experiencia"></select></div>
			</div>
			<div class="form-group">
				<div class="col-xs-4"><p class="form-control-static">Cargos Ejercidos (3)</p></div>
				<tags-input-wrapper class="col-xs-8" model="item.experiencias" placeholder="Cargos Ejercidos...(+)"
					uri="general/cargos" text="cargo" add-from-autocomplete-only="false" max-tags="3" />
			</div>
		</div>
		
		<div class="col-lg-6">
			<div class="form-group">
				<div class="col-xs-4"><p class="form-control-static">Tipo de Contrato</p></div>
				<div class="col-xs-8"><select class="form-control" ng-model="item.contrato" ng-options="option for option in options.contrato"> </select></div>
			</div>
			<div class="form-group">
				<div class="col-xs-4"><p class="form-control-static">Remuneración (tope)</p></div>
				<div class="col-xs-8"><input  class="form-control" type="text" ng-model="item.sueldo_mensual_hasta"></div>
			</div>
			<div class="form-group">
				<div class="col-xs-4"><p class="form-control-static">Función a cumplir (1)</p></div>
				<tags-input-wrapper class="col-xs-8" model="item.funciones" placeholder="Función a cumplir...(+)"
					uri="general/cargos" text="cargo" add-from-autocomplete-only="false" max-tags="1" />
			</div>
			<div class="form-group">
				<div class="col-xs-4"><p class="form-control-static">Asignaturas (hasta 3)</p></div>
				<tags-input-wrapper class="col-xs-8" model="item.asignaturas" placeholder="Asignaturas...(+)"
					uri="general/asignaturas" text="asignatura" add-from-autocomplete-only="false" max-tags="3" />
			</div>
			<div class="form-group">
				<div class="col-xs-4"><p class="form-control-static">Niveles (hasta 3)</p></div>
				<tags-input-wrapper class="col-xs-8" model="item.niveles" placeholder="Niveles...(+)"
					uri="general/niveles" text="nivel" add-from-autocomplete-only="false" max-tags="3" />
			</div>                 
			<div class="form-group">
				<div class="col-xs-4"><p class="form-control-static">Disponibilidad</p></div>
				<div class="col-xs-8">
					<div class="row">
						<div class="col-xs-4">
							<select class="form-control" ng-model="item.disponibilidad" ng-options="option for option in options.disponibilidad"></select>
						</div>
						<div class="col-xs-4">
							<input class="form-control" type="text" ng-model="item.contrato_desde" ng-hide="item.disponibilidad=='inmediata'"
								uib-datepicker-popup="dd-MMM-yyyy" is-open="dp_opened" ng-click="dp_opened = !dp_opened || false" 
								show-weeks="false" show-button-bar="false" />
						</div>
						<div class="col-xs-4">
							<input class="form-control" type="text" ng-model="item.contrato_hasta" ng-show="item.disponibilidad=='periodo'"
								uib-datepicker-popup="dd-MMM-yyyy" is-open="dp_openet" ng-click="dp_openet = !dp_openet || false" 
									show-weeks="false" show-button-bar="false" />
						</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-xs-4"><p class="form-control-static">Cantidad de Horas</p></div>
				<div class="col-xs-8"><textarea  class="form-control" ng-model="item.cantidad_horas"></textarea></div>
			</div>
			<div class="form-group">
				<div class="col-xs-4"><p class="form-control-static">Otros Beneficios</p></div>
				<div class="col-xs-8"><textarea  class="form-control" ng-model="item.otros_beneficios"></textarea></div>
			</div>
		</div>
	</fieldset>
</form>
