<table class="table table-striped table-hover">
	<caption><h4>Mis Avisos</h4></caption>
	
	<thead>
		<tr><th>Aviso</th>
			<th>Titulo</th>
			<th>Estado</th>
			<th>Publicado</th>
			<th>Finaliza</th>
			<th>Postulantes</th>
			<th></th>
		</tr>
	</thead>
	
	<tbody>
		<tr ng-if="list.length==0">
			<td colspan="7">
				<p class="lead">No tiene aún Avisos comprados.</p>
			</td>
		</tr>
		
		<tr ng-repeat="item in list" ng-class="{'warning': item.estado=='disponible', 'success': item.estado=='verificado' }">
			<td>{{ item.id }}</td>
			<td>{{ item.busqueda }}</td>
			<td>{{ item.estado }}</td>
			<td>{{ item.fecha }}</td>
			<td ng-class="{'text-danger': item.dias_v < 0 }">{{ item.vigencia }}</th>
			<td><a class="btn btn-xs btn-block btn-default" ui-sref="^.postulantes({ id: item.id, id_colegio: item.id_colegio })"
					ng-if="item.estado=='verificado' || item.estado=='vencido'" 
				>
					<span class="glyphicon glyphicon-search"></span> {{ item.postulantes }}
				</a>
			</td>
			<td><a class="btn btn-xs btn-info" ui-sref="^.aviso({ id: item.id, id_colegio: item.id_colegio })">
					<span class="glyphicon glyphicon-pencil"></span>
				</a>
			</td>
		</tr>
	</tbody>
	
	<!-- <tfoot>
		<tr><td colspan="5"></td>
			<td colspan="2">
				<a class="btn btn-xs btn-block btn-warning" ui-sref="^.aviso({ id: 0, id_colegio: id_colegio })">
					<span class="glyphicon glyphicon-plus"></span> Agregar Aviso
				</a>
			</td>
		</tr>
	</tfoot> -->
</table>
