<style>	
	th { white-space: nowrap; }
	.input-sm { padding: 5px 2px; }
</style>

<form name="form">
	<fieldset>
		<legend>{{ $ctrl.head.busqueda }}</legend>
		
		<h1 class="text-center" ng-if="$ctrl.grid.length==0">
			<span class="fa fa-refresh fa-spin"></span>
		</h1>
		
		<table class="table table-striped table-hover" ng-if="$ctrl.grid.length">
			<thead>
				<tr><th colspan="2" style="vertical-align: middle">
						Candidatos por estado
					</th>
					<th colspan="8">
						<uib-tabset type="pills" justified="true">
							<uib-tab ng-repeat="opt in $ctrl.grid" 
								heading="{{ opt.situacion +' ('+ opt.cantidad +')' }}" select="$ctrl.filters.set('situacion', opt.situacion)">
							</uib-tab>
						</uib-tabset>
					</th>
				</tr>
				
				<tr><th colspan="2">
						<div ng-hide="$ctrl.filters.show">
							<button class="btn btn-sm btn-block" ng-click="$ctrl.filters.show = true">
								<span class="fa fa-sliders"></span> Mostrar filtros
							</button>
						</div>
						<div ng-show="$ctrl.filters.show">
							<button class="btn btn-sm btn-block text-danger" ng-click="$ctrl.filters.reset()">
								<span class="fa fa-trash"></span> Quitar filtros
							</button>
						</div>
					</th>
					<th colspan="8">
						<div ng-show="$ctrl.filters.show" class="input-group">
							<label class="input-group-addon">Comuna</label>
							<select class="form-control input-sm" ng-model="$ctrl.select.comuna"      
								ng-change="$ctrl.filters.set('comuna', $ctrl.select.comuna)"
								ng-options="opt.value as opt.label for opt in $ctrl.filters.options.comuna">
								<option value="">-todas-</option>
							</select>
							
							<label class="input-group-addon">Profesion</label>
							<select class="form-control input-sm" ng-model="$ctrl.select.profesion"   
								ng-change="$ctrl.filters.set('profesion', $ctrl.select.profesion)"
								ng-options="opt.value as opt.label for opt in $ctrl.filters.options.profesion">
								<option value="">-todas-</option>
							</select>
							
							<label class="input-group-addon">Experiencia</label>
							<select class="form-control input-sm" ng-model="$ctrl.select.experiencia" 
								ng-change="$ctrl.filters.set('experiencia', $ctrl.select.experiencia)"
								ng-options="opt.value as opt.label for opt in $ctrl.filters.options.experiencia">
								<option value="">-todas-</option>
							</select>
							
							<label class="input-group-addon">Puntaje</label>
							<select class="form-control input-sm" ng-model="$ctrl.select.puntaje"     
								ng-change="$ctrl.filters.set('puntaje', $ctrl.select.puntaje)"
								ng-options="opt.value as opt.label for opt in $ctrl.filters.options.puntaje">
								<option value="">-todos-</option>
							</select>
						</div>
					</th>
				</tr>
				
				<tr><th colspan="2"></th>
					<th colspan="8">
						<h4 style="text-transform: uppercase">{{ $ctrl.caption }}</h4>
					</th>
				</tr>
				
				<tr><th>N°</th>
					<th><a href="" ng-click="$ctrl.order.set('postulante')">
							Postulante
							<span class="fa fa-caret-up"   ng-show="$ctrl.order.by=='postulante' && $ctrl.order.reverse==false"></span>
							<span class="fa fa-caret-down" ng-show="$ctrl.order.by=='postulante' && $ctrl.order.reverse==true" ></span>
						</a>
					</th>
					<th>Fono</th>
					<th><a href="" ng-click="$ctrl.order.set('comuna')">
							Comuna
							<span class="fa fa-caret-up"   ng-show="$ctrl.order.by=='comuna' && $ctrl.order.reverse==false"></span>
							<span class="fa fa-caret-down" ng-show="$ctrl.order.by=='comuna' && $ctrl.order.reverse==true"></span>
						</a>
					</th>
					<th><a href="" ng-click="$ctrl.order.set('profesion')">
							Profesión
							<span class="fa fa-caret-up"   ng-show="$ctrl.order.by=='profesion' && $ctrl.order.reverse==false"></span>
							<span class="fa fa-caret-down" ng-show="$ctrl.order.by=='profesion' && $ctrl.order.reverse==true"></span>
						</a>
					</th>
					<th><a href="" ng-click="$ctrl.order.set('experiencia')">
							Experiencia
							<span class="fa fa-caret-up"   ng-show="$ctrl.order.by=='experiencia' && $ctrl.order.reverse==false"></span>
							<span class="fa fa-caret-down" ng-show="$ctrl.order.by=='experiencia' && $ctrl.order.reverse==true"></span>
						</a>
					</th>
					<th>Observación</th>
					<th><a href="" ng-click="$ctrl.order.set('puntaje')">
							Puntaje
							<span class="fa fa-caret-up"   ng-show="$ctrl.order.by=='puntaje' && $ctrl.order.reverse==false"></span>
							<span class="fa fa-caret-down" ng-show="$ctrl.order.by=='puntaje' && $ctrl.order.reverse==true"></span>
						</a>
					</th>
					<th>CV</th>
					<th><button class="btn btn-sm btn-block" ng-if="$ctrl.changes.saving===0" title="{{ $ctrl.changes.list().length }}"
							ng-class="{'btn-warning': ! $ctrl.changes.list().length, 'btn-success': $ctrl.changes.list().length }"
							ng-click="$ctrl.changes.save()">
							<span>Guardar</span>
						</button>
						<button class="btn btn-sm btn-block" ng-if="$ctrl.changes.saving > 0" disabled>
							<span class="fa fa-refresh fa-spin"></span>
						</button>
					</th>
				</tr>				
			</thead>
			
			<tbody>
				<tr ng-repeat="item in $ctrl.list | orderBy:$ctrl.order.by:$ctrl.order.reverse" ng-class="{ warning: item.changes.length }">
					<td>{{ $index + 1 }}</td>
					<td>{{ item.postulante }}</td>
					<td>{{ item.telefono_movil }}</td>
					<td>{{ item.comuna }}</td>
					<td>{{ item.profesion }}</td>
					<td>{{ item.experiencia }}</td>
					
					<td><button class="btn btn-sm btn-block" title="{{ item.observacion }}"
							 ng-class="{'btn-default': !item.observacion, 'btn-info': item.observacion }"
							 ng-click="$ctrl.observacion(item)">
							<span ng-hide="item.observacion">Añadir obs.</span>
							<span ng-show="item.observacion">Ver obser.</span>
						</button>
					</td>
					
					<td><select class="form-control input-sm" ng-model="item.puntaje" 
							ng-change="$ctrl.changes.push(item, 'puntaje')"
							ng-options="opt as opt for opt in [1,2,3,4,5,6,7]">
						</select>
					</td>
					<td><a class="btn btn-sm btn-block btn-default" href="colegios/avisos/download?id={{ item.id_profesor }}" target="winViewCV">
							<span class="fa fa-download" ng-if="item.cv.split('.').reverse()[0]!=='pdf'" title="{{ item.cv }}"></span>
							<span class="fa fa-eye"      ng-if="item.cv.split('.').reverse()[0]==='pdf'" title="{{ item.cv }}"></span>
						</a>
					</td>
					<td class="col-xs-2">
						<select class="form-control input-sm" ng-model="item.situacion" 
							ng-change="$ctrl.changes.push(item, 'situacion')"
							ng-options="opt.situacion as opt.situacion for opt in $ctrl.grid.slice(1)">
						</select>
					</td>
				</tr>
			</tbody>
			
			<tfoot>
			</tfoot>
		</table>
	</fieldset>
</form>

