<form class="form-inline" name="form" novalidate ng-submit="form.$dirty && form.$valid && save(cv)">
	<div class="input-group">
		<label class="input-group-addon">Email</label>
		<input class="form-control" type="email" name="email" required
			ng-model="cv.email" ng-pattern="/^[A-Za-z0-9._%+-]+@[A-Za-z]+\.[A-Za-z.]+$/" ng-click="item.error = ''" 
		/>

		<label class="input-group-addon">RUT</label>
		<input class="form-control" type="text" name="rut" required
			ng-model="cv.RUT" ui-mask="99.999.999-*" ng-change="validaRut(cv.RUT)" ng-click="item.error = ''" 
			tooltip="{{ form.rut.errorMsg }}" tooltip-trigger="blur"
		/>
		<div class="input-group-btn"><button class="btn" ng-class="{'btn-primary': form.$dirty && form.$valid }" type="submit">Crear Registro</button></div>
	</div>
	
	<div ng-show="item.error">
		<h4>{{ item.error }}</h4>
		<p>{{ item.apellidos }} {{ item.apellido_m }}, {{ item.nombres }}</p>
		<p>{{ item.email }} {{ item.RUT }}</p>
	</div>
</form>
