<style>
	.table>tbody>tr { cursor: pointer; }
	.table>thead>tr>th, 
	.table>tfoot>tr>th, 
	.table>tbody>tr>th { text-align: center; vertical-align: middle; }
</style>

<div class="col-xs-12">
	<cvs-find found="cvs" response="$ctrl.response({ id: id })"></cvs-find>
	
	<table class="table table-striped table-hover">
		<thead>
			<tr><th colspan="6">
				</th>
				<th colspan="2">Formación</th>
				<th rowspan="2">Perfil</th>
				<th rowspan="2">Profesiones</th>
			</tr>
			
			<tr><th>#</th>
				<th><input type="checkbox" ng-model="checkAll" ng-click="checkAllNone()"></th>
				<th></th>
				<th>Fecha</th>
				<th>Email</th>
				<th>Nombre</th>			
				<th>Prof.</th>
				<th>Post.</th>
				<!-- perfil -->
			</tr>
		</thead>
		
		<tbody>
			<tr ng-repeat="cv in cvs">
				<td class="text-right">{{ $index + 1 }}</td>
				<th>
					<input type="checkbox" ng-model="cv.checked" ng-if="! cv.bloqueado && ! cv.mchResult" />
					<span class="fa fa-exclamation-circle text-danger" title="{{ cv.mchResult }}" ng-if="cv.mchResult"></span>
					<span class="fa fa-thumbs-down text-info" ng-if="cv.bloqueado"></span>
				</th>
				<th><a ng-click="$ctrl.response({ id: cv.id })"><span class="fa fa-edit"></span></a></th>
				<td>{{ ::cv.creado.substr(0, 10) }}</td>
				<td ng-class="{
					'bg-danger': (cv.password + cv.facebook + cv.google + cv.linkedin)==0, 
					'bg-warning':(cv.password + cv.facebook + cv.google + cv.linkedin)> 0 && (cv.rut + cv.cv)< 2, 
					'bg-success':(cv.password + cv.facebook + cv.google + cv.linkedin)> 0 && (cv.rut + cv.cv)==2
				}">{{ ::cv.email }}</td><!--{{cv.password + cv.facebook + cv.google + cv.linkedin}} {{cv.rut + cv.cv}}-->
				<td>{{ ::cv.nombre }}</td>
				<td class="text-right">{{ ::cv.FP }}</td>
				<td class="text-right">{{ ::cv.FO }}</td>
				<td class="text-right">{{ ::cv.CP }}</td>
				<td class="text-right">{{ ::cv.PR }}</td>
			</tr>
		</tbody>
		
		<tfoot ng-if="checked().length">
			<tr><th></th>
				<th><span class="fa fa-share"></span></th>
				<td colspan="8">
					<mch-post members="cvs" />
				</td>
			</tr>
		</tfoot>
	</table>	
</div>
