<section class="row">
	<form class="form-inline">
		<div class="input-group">
			<div class="input-group-btn">
				<button class="btn btn-danger"  ng-click="$ctrl.filter('pw')"><span class="fa fa-envelope"></span></button>
				<button class="btn btn-warning" ng-click="$ctrl.filter('cv')"><span class="fa fa-graduation-cap"></span></button>
				<button class="btn btn-success" ng-click="$ctrl.filter('ok')"><span class="fa fa-graduation-cap"></span></button>
			</div>
		</div>
		&nbsp;
		<div class="input-group">
			<div class="input-group-btn">
				<button class="btn btn-primary" ng-click="$ctrl.filter('fb')"><span class="fa fa-facebook"></span></button>
				<button class="btn btn-danger"  ng-click="$ctrl.filter('gg')"><span class="fa fa-google">  </span></button>
				<button class="btn btn-info"    ng-click="$ctrl.filter('in')"><span class="fa fa-linkedin"></span></button>
			</div>
		</div>
		&nbsp;
		<div class="input-group">
			<input type="text" class="form-control" ng-model="filterText" placeholder="Email / nombre">
			
			<div class="input-group-btn">
				<a class="btn btn-primary" ng-click="$ctrl.filter(filterText)"><span class="fa fa-search"></span></a>
			</div>
		</div>
		&nbsp;
		<div class="input-group">
			<div class="input-group-btn">
				<a class="btn btn-warning" ng-click="$ctrl.response({ id: 0 })"><span class="fa fa-plus"></span></a>
			</div>
		</div>
		
		<div class="input-group pull-right">
			<div class="input-group-btn">
				<a class="btn btn-default" ng-click="$ctrl.isCollapsed = ! $ctrl.isCollapsed">
					<span class="glyphicon" ng-class="{'glyphicon-arrow-down': $ctrl.isCollapsed, 'glyphicon-arrow-up': ! $ctrl.isCollapsed }"></span>
				</a>
			</div>
		</div>
	</form>
</section>
	
<section class="row well" uib-collapse="$ctrl.isCollapsed">
	<p></p>
	<form class="form-horizontal">
		<div class="form-group">
			<div class="col-xs-5">
				<tags-input-wrapper model="$ctrl.comunas.tags" text="comuna" uri="comunas" placeholder="Comunas" 
					on-update="$ctrl.updated('comunas', { tagAdded: tagAdded, tagRemoved: tagRemoved })" />
			</div>
			<div class="col-xs-1">
				<span ng-if="$ctrl.comunas.list.length">
					<input type="checkbox" ng-click="$ctrl.intersect()" ng-model="$ctrl.comunas.check" />
					<label class="badge" ng-bind="$ctrl.comunas.list.length"></label>
				</span>
			</div>
			
			<div class="col-xs-1">
				Tiene empleo?
			</div>
			<div class="col-xs-1">
<!-- 				<input type="checkbox" ng-click="$ctrl.intersect()" ng-model="$ctrl.check.tienEmpleo" />
				<label class="form-control-static">(2)</label>
 -->			</div>
			<div class="col-xs-1">
				Experiencia
			</div>
			<div class="col-xs-2">
				<select class="form-control" ng-model="$ctrl.experiencia.tags" ng-options="opt.id as opt.value for opt in $ctrl.experiencia.opts"
					ng-change="$ctrl.updated('experiencia')"></select>
			</div>
			<div class="col-xs-1">
				<span ng-if="$ctrl.experiencia.list.length">
					<input type="checkbox" ng-click="$ctrl.intersect()" ng-model="$ctrl.experiencia.check" />
					<label class="badge" ng-bind="$ctrl.experiencia.list.length"></label>
				</span>
			</div>
		</div>
		
		<div class="form-group">
			<div class="col-xs-5">
				<tags-input-wrapper model="$ctrl.profesiones.tags" text="profesion" uri="general/profesiones" placeholder="Profesiones"
					on-update="$ctrl.updated('profesiones', { tagAdded: tagAdded, tagRemoved: tagRemoved })" />
			</div>
			<div class="col-xs-1">
				<span ng-if="$ctrl.profesiones.list.length">
					<input type="checkbox" ng-click="$ctrl.intersect()" ng-model="$ctrl.profesiones.check" />
					<label class="badge" ng-bind="$ctrl.profesiones.list.length"></label>
				</span>
			</div>
			<div class="col-xs-5">
				<tags-input-wrapper model="$ctrl.etiquetas.tags" text="etiqueta" uri="admin/etiquetas" placeholder="Etiquetas"
					on-update="$ctrl.updated('etiquetas', { tagAdded: tagAdded, tagRemoved: tagRemoved })" />
			</div>
			<div class="col-xs-1">
				<span ng-if="$ctrl.etiquetas.list.length">
					<input type="checkbox" ng-click="$ctrl.intersect()" ng-model="$ctrl.etiquetas.check" />
					<label class="badge" ng-bind="$ctrl.etiquetas.list.length"></label>
				</span>
			</div>
		</div>
	</form>
</section>
