<form class="form-horizontal" name="form" role="form" novalidate ng-submit="form.$dirty && form.$valid && put(cv)">
	<fieldset>
		<legend>Datos personales</legend>
		
		<div class="form-group">
			<div class="col-sm-3">
				<div class="input-group-btn" ng-hide="progressPercentage > 0">
					<a class="btn btn-danger" ngf-select ngf-max-size="2048000" ngf-change="upload($files)"><span class="glyphicon glyphicon-upload"></span></a>
					<a class="btn btn-info" href="admin/cvs/download?id={{ cv.id }}" target="winViewCV">{{ cv.cv }}</a>
				</div>
				
				<div class="progress" ng-show="progressPercentage > 0">
					<div class="progress-bar" role="progressbar" style="width: {{ progressPercentage }}%;"
							aria-valuemin="0" aria-valuenow="{{ progressPercentage }}" aria-valuemax="100">
						{{ progressPercentage }}%
					</div>
				</div>
			</div>
			
			<div class="col-sm-1 control-label">RUT</div>
			<div class="col-sm-2">
				<input class="form-control" type="text" ng-model="cv.RUT" ui-mask="99.999.999-*" disabled />
			</div>
			
			<div class="col-sm-2 control-label">Email</div>
			<div class="col-sm-4">
				<input class="form-control" type="email" ng-model="cv.email" disabled
					ng-pattern="/^[A-Za-z0-9._%+-]+@[A-Za-z]+\.[A-Za-z.]+$/"
				/>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label">Nombres</label>
			<div class="col-sm-4">
				<input class="form-control" type="text" ng-model="cv.nombres"    ng-pattern="/^[A-Za-z áéíóúñÑ]+$/" />
			</div>
			
			<label class="col-sm-2 control-label">Apellidos</label>
			<div class="col-sm-2">
				<input class="form-control" type="text" ng-model="cv.apellidos"  ng-pattern="/^[A-Za-z áéíóúñÑ]+$/" />
			</div>
			<div class="col-sm-2">
				<input class="form-control" type="text" ng-model="cv.apellido_m" ng-pattern="/^[A-Za-z áéíóúñÑ]+$/" />
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label">Comuna</label>
			
			<tags-input-wrapper class="col-sm-4" model="cv.comunas" text="comuna" uri="comunas" placeholder="Comuna (1)" min-tags="0" max-tags="1" />
			
			<label class="col-sm-2 control-label">Móvil</label>
			<div class="col-sm-2">
				<input class="form-control" type="text" ng-model="cv.telefono_movil" ui-mask="99 999-9999" />
			</div>
		</div>		
	</fieldset>
	
	<fieldset>
		<legend>Datos Profesionales</legend>
		
		<div class="form-group">
			<label class="col-sm-2 control-label">Tiene empleo actualmente?</label>
			<label class="col-sm-2">
				<label class="radio-inline">
					<input type="radio" value="SI" ng-model="cv.tiene_empleo" /> Sí 
				</label>
				<label class="radio-inline">
					<input type="radio" value="NO" ng-model="cv.tiene_empleo" /> No 
				</label>
			</label>
			
			<label class="col-sm-2 control-label">Profesiones</label>
			<tags-input-wrapper class="col-sm-6" model="cv.profesiones" text="profesion" uri="general/profesiones" placeholder="Profesiones" />
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label">
				Años de Experiencia 
			</label>
			<div class="col-sm-2">
				<select class="form-control" ng-model="cv.cv_experiencia" ng-options="value for value in anios_experiencia">
				</select>
			</div>
			
			<tags-input-wrapper class="col-sm-8" model="cv.etiquetas" text="etiqueta" uri="admin/etiquetas" placeholder="Etiquetas" />
		</div>
		
		<div class="form-group">
			<div class="col-sm-8">
				<textarea class="form-control" ng-model="cv.cv_comentarios" placeholder="Comentarios..."></textarea>
			</div>
			
			<div class="col-sm-2 col-sm-offset-2">
				<button class="btn btn-default" type="submit" ng-class="{'btn-success': form.$dirty && form.$valid }" ng-disabled="!(form.$dirty && form.$valid)">Aceptar</button>
			</div>
		</div>
	</fieldset>
</form>

<formacion-profesional id="cv.id" ng-if="cv.id"></formacion-profesional>
<formacion-postgrado   id="cv.id" ng-if="cv.id"></formacion-postgrado>
