<form class="form-inline" name="form" ng-submit="form.$dirty && form.$valid && $ctrl.send()">	
	<div class="form-group">
		<select class="form-control" ng-model="$ctrl.list" required 
			ng-options="opt.id as opt.value for opt in $ctrl.lists">
		</select>
			
		<button class="btn btn-default" ng-class="{'btn-info': form.$dirty && form.$valid}">Subir a MailChimp</button>
		
		<label class="control-label" ng-if="$ctrl.total">
			<span class="fa fa-cog fa-spin"></span> {{ 100 * $ctrl.count / $ctrl.total }}%
		</label>
	</div>
</form>

